<template>
    <v-container fluid pt-0 grid-list-xl>
        <page-title-bar></page-title-bar>

        <section-tooltip :title="$t('message.conta')" :tooltip="$t('message.conta')"></section-tooltip>

        <v-layout row wrap>
            <v-flex xs12 sm12 md12>
                <div class="text-right">
                    <v-btn color="success" @click="addNewAccountDialog = true">
                        {{$t('message.vincularContas')}}
                    </v-btn>
                </div>
            </v-flex>
        </v-layout>


        <v-layout align-center justify-center row wrap fill-height v-if="this.accounts.length">
            <v-flex xs12>
                <app-card :heading="'Contas'" customClasses="mb-90">
                    <div class="text-right">
                        <v-btn color="primary" @click="askSendInvitations" :loading="loaderSendInvitations">
                            Enviar Convites
                        </v-btn>
                    </div>
                    <v-card-text>
                        <app-section-loader :status="loader"></app-section-loader>
                        <v-progress-linear v-if="showProgressInvitations" color="orange"
                                           v-model="progressInvitations"></v-progress-linear>

                        <v-data-table
                                :headers="headers"
                                :items="accounts"
                                class="elevation-1"
                                :no-data-text="'Nenhuma conta associada'"

                        >
                            <template slot="items" slot-scope="props">
                                <td>
                                    <v-avatar>
                                        <img class="img-responsive" :src="props.item.icon.url"
                                             :alt="props.item.icon.alt">
                                    </v-avatar>
                                </td>
                                <td>{{ props.item.name }}</td>
                                <td>{{ props.item.email }}</td>
                                <td>
                                    <v-btn flat icon color="cyan" @click="sync(props.item)">
                                        <v-icon class="ti-reload"></v-icon>
                                    </v-btn>
                                </td>
                                <td>
                                    <v-btn flat icon color="cyan" @click="showCustomers(props.item)">
                                        <v-icon class="zmdi zmdi-accounts"></v-icon>
                                    </v-btn>
                                </td>
                                <td>
                                    <v-btn flat icon color="error" @click="onDeleteAccount(props.item)">
                                        <v-icon class="zmdi zmdi-delete"></v-icon>
                                    </v-btn>
                                </td>
                            </template>
                        </v-data-table>
                        <delete-confirmation-dialog
                                ref="deleteConfirmationDialog"
                                heading="Tem certeza que deseja excluir?"
                                message="Tem certeza que deseja excluir essa conta?"
                                @onConfirm="onDeleteAccount"
                        >
                        </delete-confirmation-dialog>
                    </v-card-text>

                </app-card>
                <app-card :heading="'Contas associadas'" v-show="showCustomersCard" customClasses="mb-90">

                    <v-card-text>
                        <app-section-loader :status="loader"></app-section-loader>

                        <v-data-table
                                :headers="headersCustomers"
                                :items="customers"
                                class="elevation-1"
                                :loading="loaderLink"
                        >
                            <v-progress-linear slot-scope="progress" color="success" indeterminate></v-progress-linear>
                            <template slot="items" slot-scope="props">
                                <td>
                                    <img :src="'/static/images-conecta/accounts-logo-google-ad_words.png'"
                                         class="img-responsive" height="30" width="30">
                                    {{ props.item.descriptiveName }}
                                </td>
                                <td>
                                    {{ props.item.customerId }}
                                </td>
                                <!-- <td>{{ props.item.canManageClients ? 'Sim' : 'Não'}}</td> -->
                                <!-- <td>{{ props.item.testAccount ? 'Sim' : 'Não'}}</td> -->
                                <td>
                                    <v-btn flat icon color="blue" @click="sendInvitation(props.item)">
                                        <v-icon>link</v-icon>
                                    </v-btn>
                                </td>
                                <td>
                                    <v-btn flat icon color="error" @click="inactivateLink(props.item)">
                                        <v-icon>link_off</v-icon>
                                    </v-btn>
                                </td>
                                <td>
                                    <v-btn flat icon color="error" @click="onDeleteCustomer(props.item)">
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                </td>
                            </template>
                        </v-data-table>
                        <delete-confirmation-dialog
                                ref="customerDeleteConfirmationDialog"
                                heading="Tem certeza que deseja excluir?"
                                message="Tem certeza que deseja excluir essa conta?"
                                @onConfirm="onDeleteCustomer"
                        >
                        </delete-confirmation-dialog>
                    </v-card-text>
                </app-card>

            </v-flex>
        </v-layout>
        <v-layout align-center justify-center row wrap fill-height v-if="this.accounts.length">
            <v-flex xs12>

                <app-card :heading="'Convites Pendentes'" v-if="accounts.length">
                    <div class="text-right">
                        <v-btn @click="getPendingInvitations" color="success">Atualizar</v-btn>
                    </div>

                    <span class="grey--text">
                        Convites que ainda não foram aceitos pelos clientes serão listados abaixo.
                    </span>

                    <v-card-text>
                        <v-data-table
                                :headers="headersInvitations"
                                :items="invitations"
                                :loading="loaderInvitations"
                                :no-data-text="'Nenhum convite pendente'"
                        >
                            <v-progress-linear slot-scope="progress" color="success" indeterminate></v-progress-linear>
                            <template slot="items" slot-scope="props">
                                <td>
                                    <img :src="'/static/images-conecta/accounts-logo-google-ad_words.png'"
                                         class="img-responsive" height="30" width="30">

                                    {{ props.item.name }}
                                </td>
                                <td>
                                    {{ props.item.customerId }}
                                </td>
                                <td>{{ props.item.creationDate }}</td>
                                <td>{{ props.item.expirationDate }}</td>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </app-card>

                <v-dialog
                        v-model="confirmInvitations"
                        max-width="290"
                >
                    <v-card>
                        <v-card-title class="headline">Envio de convites</v-card-title>

                        <v-card-text>
                            {{ this.messageDialog }}
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>

                            <v-btn
                                    color="red darken-1"
                                    flat="flat"
                                    @click="closeDialog"
                            >
                                Cancelar
                            </v-btn>

                            <v-btn
                                    color="green darken-1"
                                    flat="flat"
                                    @click="sendInvitations"
                            >
                                Confirmar
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog
                        v-model="finishedDialog"
                        max-width="290"
                >
                    <v-card>
                        <v-card-title class="headline">Envio de convites</v-card-title>

                        <v-card-text>
                            Envio de convites em lote finalizado.
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="green darken-1"
                                    flat="flat"
                                    @click="finishedDialog = false"
                            >
                                OK
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-flex>
        </v-layout>
        <v-dialog v-model="addNewAccountDialog" max-width="500">
            <v-card>
                <v-card-title>
                    <span class="headline">{{$t('message.addNewConta')}}</span>
                </v-card-title>
                <v-spacer></v-spacer>
                <v-responsive>
                    <div class="mb-4" align="center">
                        <v-btn color="blue lighten-5" fab large dark @click="googleOauth"
                               :loading="loadingGoogle">
                            <v-avatar>
                                <img class="img-responsive" :src="logoGoogle.url" :alt="logoGoogle.alt">
                            </v-avatar>
                        </v-btn>
                        <v-btn disabled color="primary" fab large dark>
                            <v-icon>ti-instagram</v-icon>
                        </v-btn>
                        <v-btn disabled color="warning" fab large dark>
                            <v-icon>ti-facebook</v-icon>
                        </v-btn>
                        <v-btn disabled color="orange" fab large dark>
                            <v-icon>ti-bar-chart</v-icon>
                        </v-btn>
                    </div>
                </v-responsive>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
    import {getCurrentAppLayout} from "Helpers/helpers";
    import AccountCard from "Components/AppCard/AccountCard";
    import axios from 'axios';
    import swal from 'sweetalert';

    export default {
        components: {AccountCard},
        data() {
            return {
                addNewAccountDialog: false,
                selectDeletedAccount: null,
                selectDeletedCustomer: null,
                showCustomersCard: false,
                showInvitations: false,
                loader: true,
                loaderCustomers: false,
                loaderLink: false,
                loaderInvitations: false,
                loaderSendInvitations: false,
                showProgressInvitations: false,
                loadingGoogle: false,
                progressInvitations: 0,
                sendedInvitations: 0,
                confirmInvitations: false,
                finishedDialog: false,
                messageDialog: '',
                headersInvitations: [
                    {text: "Nome", sortable: false, align: "center"},
                    {text: "Id", sortable: false},
                    {text: "Data convite", sortable: false},
                    {text: "Expira em", sortable: false}
                ],
                headers: [
                    {text: "Tipo conta", sortable: false},
                    {text: "Nome", sortable: false},
                    {text: "E-mail", sortable: false},
                    {text: "Sincronizar", sortable: false},
                    {text: "Contas", sortable: false},
                    {text: "Remover conta", sortable: false}
                ],
                headersCustomers: [
                    {text: "Nome", sortable: false, align: "center"},
                    {text: "Id", sortable: false},
                    //{text: "Gerencia clientes", sortable: false},
                    //{text: "Conta teste", sortable: false},
                    {text: "Convidar", sortable: false},
                    {text: "Cancelar vínculo", sortable: false},
                    {text: "Remover ", sortable: false}
                ],
                logoGoogle: {
                    url: "/static/images-conecta/accounts-logo-google-ad_words.png",
                    alt: "Adwords"
                },
                accounts: [],
                productionCustomers: [],
                customers: [],
                invitations: []
            }
        },
        methods: {
            sync(account) {

                this.showCustomersCard = !this.showCustomersCard;
                this.loaderCustomers = true;
                this.loader = true;
                // this.showCustomersCard = !showCustomersCard ;
                this.customers = [];
                axios.get('/api/accounts/' + account.id + '/sync')
                    .then((response) => {
                        this.customers = response.data;
                        this.loaderCustomers = false;
                        setTimeout(() => {
                            this.loader = false;

                        }, 1000);
                    }).catch(error => console.log(error));
            },
            getSocialNetworkIcon(type) {
                var icon = '';
                if (type === 'Adwords') {
                    icon = this.logoGoogle;
                }
                return icon;
            },
            googleOauth() {
                this.loadingGoogle = true;
                axios.get('/oauth2').then(response => {
                    window.location = response.data;
                    this.loadingGoogle = false;
                }).catch(error => {
                    this.loadingGoogle = false;
                    console.error(error);
                });
            },
            getPendingInvitations() {
                this.loaderInvitations = true;
                axios.get('/api/accounts/invitations')
                    .then(response => {
                        this.invitations = [];
                        this.loaderInvitations = false;
                        this.showInvitations = true;
                        if (response.data.success) {
                            this.invitations = response.data.result;
                        }
                    }).catch(error => {
                    this.loaderInvitations = false;
                    console.error(error.message);
                });
            },
            getAccounts() {
                axios.get('/api/accounts')
                    .then((response) => {
                        this.accounts = response.data;
                        this.accounts.map((account) => {
                            account.icon = this.getSocialNetworkIcon(account.socialnetwork);
                        });
                        if (this.accounts.length) {
                            this.getPendingInvitations();
                        }
                        this.loader = false;
                    }).catch(error => console.log(error));
            },
            getCustomers(account) {
                this.loaderCustomers = true;
                this.showCustomersCard = !this.showCustomersCard;
                this.loader = true;

                axios.get('/api/accounts/' + account + '/customers')
                    .then((response) => {
                        this.customers = response.data;
                        this.loaderCustomers = false;

                        setTimeout(() => {
                            this.loader = false;

                        }, 1000);
                    }).catch(error => console.log(error));
            },
            deleteCustomer(customer) {
                this.$refs.customerDeleteConfirmationDialog.openDialog();
                this.selectDeletedCustomer = customer;
            },
            sendInvitation(customer) {
                this.loaderLink = true;
                axios.get('/api/customers/' + customer.id + '/invite').then(response => {
                    this.loaderLink = false;
                    if (response.data.success === true) {
                        this.showMessage('success', 'Convite enviado com sucesso');
                    } else {
                        this.showMessage('error', response.data.message);
                    }
                }).catch(error => {
                    this.loaderLink = false;
                    let message = 'Ocorreu um erro ao enviar o convite';
                    if (error.response.data.message) {
                        message = error.response.data.message[0];
                    }
                    this.showMessage('error', message);
                })
            },
            increaseProgress() {
                let total = this.productionCustomers.length;
                this.sendedInvitations++;
                this.progressInvitations = this.sendedInvitations * 100 / total;
                if (this.progressInvitations === 100) {
                    this.loaderSendInvitations = false;
                    this.finishedDialog = true;
                    this.showProgressInvitations = false;
                }
            },
            sendSingleInvitation(id) {
                axios.get('/api/customers/' + id + '/invite').then(response => {
                    this.increaseProgress();
                    if (response.data.success === true) {

                    } else {

                    }
                }).catch(error => {
                    this.increaseProgress();
                    if (error.response.data.message) {

                    }

                })
            },
            askSendInvitations() {
                this.loaderSendInvitations = true;
                axios.get('/api/customers/production-customers').then(response => {
                    this.productionCustomers = response.data;
                    this.confirmInvitations = true;
                    this.messageDialog = '';
                    if (this.productionCustomers.length) {
                        this.messageDialog = 'Confirma o envio de ' + this.productionCustomers.length + ' convites?' +
                            ' Essa ação pode demorar alguns minutos.';
                    } else {
                        this.messageDialog = 'Você não possui contas vinculadas que podem ser convidadas.'
                    }
                }).catch(error => {
                        this.loaderSendInvitations = false;
                        console.error(error);
                    }
                );
            },
            closeDialog() {
                this.confirmInvitations = false;
                this.loaderSendInvitations = false;
            },
            sendInvitations() {
                if (this.confirmInvitations) {
                    this.confirmInvitations = false;
                }

                this.progressInvitations = 0;
                this.productionCustomers = [];
                this.sendedInvitations = 0;
                axios.get('/api/customers/production-customers').then(response => {
                    this.productionCustomers = response.data;
                    if (this.productionCustomers.length) {

                        this.showProgressInvitations = true;
                        for (let i = 0; i < this.productionCustomers.length; i++) {
                            let customer = this.productionCustomers[i];
                            this.sendSingleInvitation(customer.id);
                        }
                    }
                }).catch(error => {
                    this.loaderSendInvitations = false;
                    console.error(error);
                });
            },
            inactivateLink(customer) {
                this.loaderLink = true;
                axios.get('/api/customers/' + customer.id + '/inactivate').then(response => {
                    this.loaderLink = false;
                    if (response.data.success === true) {
                        this.showMessage('success', 'Vínculo excluído com sucesso.');
                    } else {
                        this.showMessage('error', response.data.message);
                    }
                }).catch(error => {
                    this.loaderLink = false;
                    let message = 'Ocorreu um erro ao desvincular a conta.';
                    if (error.response.data.message) {
                        message = error.response.data.message[0];
                    }
                    this.showMessage('error', message);
                })
            },
            onDeleteCustomer(customer) {
                this.selectDeletedCustomer = customer;
                swal({
                    title: "Você tem certeza?",
                    text: "Uma vez deletado, você não poderá recuperar essa conta?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {

                            this.loaderCustomers = true;

                            axios.delete('/api/customers/' + this.selectDeletedCustomer.id)
                                .then((response) => {
                                    if (response.data == true) {
                                        this.$store.dispatch("onDeleteCustomer", this.selectDeletedCustomer);
                                        this.getCustomers(this.selectDeletedCustomer.account_id);

                                        swal("conta excluída com sucesso!", {
                                            icon: "success",
                                        });
                                    } else {
                                        alert('Erro ao excluir conta');
                                    }
                                }).catch(error => console.log(error));
                        }
                    });

            },
            showCustomers(account) {
                this.getCustomers(account.id);
            },
            deleteAccount(account) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.selectDeletedAccount = account;
            },
            // delete card
            onDeleteAccount(account) {
                this.selectDeletedAccount = account;

                swal({
                    title: "Você tem certeza?",
                    text: "Uma vez deletado, você não poderá recuperar essa conta?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {

                            this.loader = true;
                            this.showCustomersCard = false;

                            axios.delete('/api/accounts/' + this.selectDeletedAccount.id)
                                .then((response) => {
                                    if (response.data == true) {
                                        this.$store.dispatch("onDeleteAccount", this.selectDeletedAccount);
                                        this.getAccounts();
                                        swal("conta excluída com sucesso!", {
                                            icon: "success",
                                        });
                                    } else {
                                        alert('Erro ao excluir conta');
                                    }
                                }).catch(error => console.log(error));
                        }
                    });


            },
            handleErrors() {
                // verifica se houve erro na autenticacao Oauth
                if (this.$route.query.error) {
                    var error = this.$route.query.error;
                    var mensagem = this.$t('message.oauth.' + error);
                    //verifica se a mensagem nao foi encontrada no arquivo de internacionalizacao
                    if (mensagem === 'message.oauth.' + error) {
                        //se nao foi, utiliza uma mensagem padrao
                        mensagem = this.$t('message.oauth.OTHERS');
                    }
                    this.$router.push(
                        'deskfull-accounts',
                        function () {
                            Vue.notify({
                                group: 'loggedIn',
                                type: 'error',
                                text: mensagem
                            });
                        }
                    );
                }
            },
            showMessage(type, message) {
                Vue.notify({
                    group: 'loggedIn',
                    type: type,
                    text: message
                });
            }
        },

        mounted() {
            this.handleErrors();
            // this.getManagerAccount();
            this.getAccounts();

        },

        name: "VincularConta"
    }
</script>

<style scoped>

</style>