<template>
    <v-container fluid grid-list-xs>
        <section-tooltip :title="$t('message.manageCustomers')"
                         :tooltip="$t('message.manageCustomers')"></section-tooltip>

        <v-layout row wrap>
            <v-flex xs12>
                <app-card :heading="$t('message.conta')" customClasses="mb-90" >

                    <v-data-table
                            :headers="headersCustomers"
                            :items="customers"
                            class="elevation-1"
                            :loading="loader > 0">
                        <v-progress-linear slot-scope="progress" color="success" indeterminate></v-progress-linear>
                        <template slot="items" slot-scope="props">
                            <td>{{ props.item.descriptiveName }}</td>
                            <td>{{ props.item.customerId }}</td>
                            <td>
                                <v-switch v-model="props.item.is_active"
                                          v-on:change="toggleStatus(props.item.id)"></v-switch>
                            </td>
                        </template>

                    </v-data-table>
                </app-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import axios from 'axios';

    export default {
        name: "ManageCustomers",
        data() {
            return {
                headersCustomers: [
                    {text: "Nome", sortable: false},
                    {text: "Id", sortable: false},
                    {text: "Situação", sortable: false},
                ],
                loader: false,
                customers: []
            }
        },
        methods: {
            getCustomers() {
                this.loader = 1;
                axios.get('/api/accounts/manage-accounts').then(response => {
                    this.loader = 0;
                    this.customers = response.data;
                }).catch(error => {
                    this.loader = 0;
                    console.error(error.message);
                });
            },
            toggleStatus(id) {
                this.loader++;
                axios.get('/api/accounts/manage-accounts/' + id + '/toggle-status').then(response => {
                    this.loader--;

                }).catch(error => {
                    this.loader--;
                    console.error(error.message);
                });
            }
        },
        mounted() {
            this.getCustomers();
        }
    }
</script>

<style scoped>

</style>