<template>
    <div>
        <v-container fluid grid-list-xl>

            <app-card :heading="'Selecione os Filtros'" customClasses="mb-30">
                <v-form ref="form" lazy-validation >
                    <v-layout row wrap border-rad-sm>
                        <v-flex xs12 sm12 xl8 lg6 md6 class="col-height-auto">
                            <v-layout row wrap>
                                <v-flex xs12 sm10 md10>
                                    <v-layout row wrap>
                                        <v-select
                                                :items="customers"
                                                item-text="descriptiveName"
                                                item-value="id"
                                                label="Contas"
                                                no-data-text="Nenhuma conta encontrada"
                                                solo
                                                persistent-hint
                                                :loading="loadingCustomers"
                                                v-on:change="selectCustomer"
                                        ></v-select>
                                    </v-layout>
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap>
                                <v-flex xs12 sm10 md10>
                                    <v-layout row>
                                        <v-select
                                                :items="campaigns"
                                                item-text="name"
                                                item-value="id"
                                                label="Campanhas"
                                                solo
                                                single-line
                                                persistent-hint
                                                :disabled="!selectedCustomer"
                                                no-data-text="Nenhuma campanha encontrada"
                                                v-on:change="selectCampaign"
                                                :loading="loadingCampaigns"
                                        ></v-select>
                                    </v-layout>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs12 sm12 xl6 lg6 md6>
                            <v-layout row wrap>
                                <v-menu
                                        ref="menu"
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="menu"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        min-width="290px"
                                        :return-value.sync="dataInicial"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Data de início"
                                            v-model="dateFormatIni"
                                            prepend-icon="event"
                                            readonly
                                            :rules="form1.nameRules"
                                            required></v-text-field>
                                    <v-date-picker
                                            locale="pt"
                                            v-model="dataInicial"

                                            @input="dateFormatIni= formatDate($event);$refs.menu.save(dataInicial);dateFormatFin=null;dataFinal = null"
                                            no-title
                                            scrollable>
                                        <v-spacer></v-spacer>
                                    </v-date-picker>
                                </v-menu>
                                <h4 class="px-3 py-4 mb-0">à</h4>
                                <v-menu
                                        ref="menu2"
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="menu2"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        min-width="290px"
                                        :return-value.sync="dataFinal"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Data de início"
                                            v-model="dateFormatFin"
                                            prepend-icon="event"
                                            :rules="form1.nameRules"
                                            required
                                            readonly></v-text-field>
                                    <v-date-picker
                                            locale="pt"
                                            v-model="dataFinal"
                                            :rules="form1.nameRules"
                                            @input="dateFormatFin= formatDate($event);$refs.menu2.save(dataFinal);"
                                            v-bind:min="dataInicial"
                                            no-title
                                            scrollable>
                                        <v-spacer></v-spacer>
                                    </v-date-picker>
                                </v-menu>
                            </v-layout>
                            <v-layout row wrap>
                                <v-switch
                                        v-model="compareDates"
                                        :label="'Comparar intervalos específico'"
                                ></v-switch>
                            </v-layout>
                            <v-layout row wrap v-if="compareDates">
                                <v-menu
                                        ref="menu3"
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="menu3"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        min-width="290px"
                                        :return-value.sync="dataInicialInter"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Data de início"
                                            v-model="dateFormatIniInter"
                                            prepend-icon="event"
                                            :rules="form1.nameRules"
                                            required
                                            readonly></v-text-field>
                                    <v-date-picker
                                            locale="pt"
                                            v-model="dataInicialInter"
                                            @input="dateFormatIniInter= formatDate($event);dateFormatFinInter=null;dataFinalInter = null;menu3 = false;$refs.menu3.save(dataInicialInter)"
                                            no-title
                                            scrollable>
                                        <v-spacer></v-spacer>
                                    </v-date-picker>
                                </v-menu>
                                <h4 class="px-3 py-4 mb-0">à</h4>
                                <v-menu
                                        ref="menu4"
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="menu4"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        min-width="290px"
                                        :return-value.sync="dataFinalInter"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Data de início"
                                            v-model="dateFormatFinInter"
                                            prepend-icon="event"
                                            :rules="form1.nameRules"
                                            required
                                            readonly></v-text-field>
                                    <v-date-picker
                                            locale="pt"
                                            v-model="dataFinalInter"
                                            @input="dateFormatFinInter= formatDate($event);$refs.menu4.save(dataFinalInter);"
                                            v-bind:min="dataInicialInter"
                                            no-title
                                            scrollable>
                                        <v-spacer></v-spacer>
                                    </v-date-picker>
                                </v-menu>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                    <v-container grid-list-xl fluid>

                        <v-card-actions>
                            <v-btn color="success" @click="filter" :loading="loader" :disabled="!selectedCustomer">
                                Consultar
                            </v-btn>
                            <v-btn
                                    color="error"
                                    class="white--text"
                                    :loading="pdfLoader"
                                    v-if="filtered"
                                    @click="generatePdf"
                            >
                                EXPORTAR PDF
                                <v-icon >get_app</v-icon>
                            </v-btn>
                        </v-card-actions>
                    </v-container>
                </v-form>

            </app-card>
        </v-container>
        <v-spacer/>
        <v-spacer/>
        <v-divider></v-divider>

        <v-container fluid grid-list-xl v-show="overviewChart.show">

            <v-layout row align-center justify-center row fill-height>
                <v-flex xs10 center>

                    <v-list two-line>
                        <div id="reportPage">

                            <v-card v-bind:key="'1'" :heading="''" customClasses="mb-30" id="chart-overview">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">
                                            <v-avatar>
                                                <img class="img-responsive" :src="overviewChart.logo.url"
                                                     :alt="overviewChart.logo.alt">
                                            </v-avatar>
                                            {{ this.overviewChart.title }}
                                        </div>
                                        <span class="grey--text"></span>
                                    </div>

                                </v-card-title>
                                <v-card-text>
                                    <v-layout row wrap border-rad-sm>
                                        <v-flex class="xl4 lg4 md4 xs12 sm4 d-block">
                                            <app-card>
                                                <h2 class="grey--text fs-12 mb-2">{{ 'CLIQUES' }}</h2>
                                                <h4 class="display-1 font-weight-bold">{{
                                                    formatNumber(overviewChart.clicks)}}</h4>
                                                <v-progress-linear height="6" color="info"
                                                                   v-model="overviewChart.progressBars.clicks"
                                                                   :indeterminate="overviewChart.showLoading"></v-progress-linear>
                                                <div v-if="this.overviewChart.progressBars.clicks">
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.clicks > 100">
                                                        <v-icon color="info">zmdi-trending-up</v-icon>
                                                        {{ (this.overviewChart.progressBars.clicks -
                                                        100).toFixed(2)
                                                        }}%
                                                        maior que o
                                                        período anterior
                                                    </p>
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.clicks < 100">
                                                        <v-icon color="orange">zmdi-trending-down</v-icon>
                                                        {{ (100 -
                                                        this.overviewChart.progressBars.clicks).toFixed(2)
                                                        }}%
                                                        menor que o
                                                        período anterior
                                                    </p>
                                                </div>

                                            </app-card>
                                        </v-flex>
                                        <v-flex class="xl4 lg4 md4 xs12 sm4 d-block">
                                            <app-card>
                                                <h2 class="grey--text fs-12 mb-2 ">{{ 'CUSTO' }}</h2>
                                                <h4 class="display-1 font-weight-bold">R$ {{
                                                    formatNumber(overviewChart.cost)
                                                    }}</h4>
                                                <v-progress-linear height="6" color="info"
                                                                   v-model="overviewChart.progressBars.cost"
                                                                   :indeterminate="overviewChart.showLoading"></v-progress-linear>
                                                <div v-if="this.overviewChart.progressBars.cost">
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.cost > 100">
                                                        <v-icon color="info">zmdi-trending-up</v-icon>
                                                        {{ (this.overviewChart.progressBars.cost -
                                                        100).toFixed(2)
                                                        }}% maior
                                                        que o
                                                        período anterior
                                                    </p>
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.cost < 100">
                                                        <v-icon color="orange">zmdi-trending-down</v-icon>
                                                        {{ (100 -
                                                        this.overviewChart.progressBars.cost).toFixed(2)
                                                        }}% menor
                                                        que o
                                                        período anterior
                                                    </p>
                                                </div>
                                            </app-card>
                                        </v-flex>
                                        <v-flex class="xl4 lg4 md4 xs12 sm4 d-block">
                                            <app-card>
                                                <h2 class="grey--text fs-12 mb-2">{{ 'CPC médio' }}</h2>
                                                <h4 class="display-1 font-weight-bold">R$ {{
                                                    formatNumber(overviewChart.averagecpc)
                                                    }}</h4>
                                                <v-progress-linear height="6" color="info"
                                                                   v-model="overviewChart.progressBars.averagecpc"
                                                                   :indeterminate="overviewChart.showLoading"></v-progress-linear>
                                                <div v-if="this.overviewChart.progressBars.averagecpc">
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.averagecpc > 100">
                                                        <v-icon color="info">zmdi-trending-up</v-icon>
                                                        {{ (this.overviewChart.progressBars.averagecpc -
                                                        100).toFixed(2) }}%
                                                        maior
                                                        que o
                                                        período anterior
                                                    </p>
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.averagecpc < 100">
                                                        <v-icon color="orange">zmdi-trending-down</v-icon>
                                                        {{ (100 -
                                                        this.overviewChart.progressBars.averagecpc).toFixed(2)
                                                        }}%
                                                        menor
                                                        que o
                                                        período anterior
                                                    </p>
                                                </div>
                                            </app-card>
                                        </v-flex>
                                    </v-layout>
                                    <v-layout row wrap>
                                        <v-flex class="xl4 lg4 md4 xs12 sm4 d-block">
                                            <app-card>
                                                <h2 class="grey--text fs-12 mb-2">{{ 'CTR' }}</h2>
                                                <h4 class="display-1 font-weight-bold">{{
                                                    formatNumber(overviewChart.ctr)
                                                    }}%</h4>
                                                <v-progress-linear height="6" color="info"
                                                                   v-model="overviewChart.progressBars.ctr"
                                                                   :indeterminate="overviewChart.showLoading"></v-progress-linear>

                                                <div v-if="this.overviewChart.progressBars.ctr">
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.ctr > 100">
                                                        <v-icon color="info">zmdi-trending-up</v-icon>
                                                        {{ (this.overviewChart.progressBars.ctr -
                                                        100).toFixed(2)
                                                        }}% maior
                                                        que o
                                                        período anterior
                                                    </p>
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.ctr < 100">
                                                        <v-icon color="orange">zmdi-trending-down</v-icon>
                                                        {{ (100 -
                                                        this.overviewChart.progressBars.ctr).toFixed(2)
                                                        }}% menor
                                                        que o
                                                        período anterior
                                                    </p>
                                                </div>
                                            </app-card>
                                        </v-flex>
                                        <v-flex class="xl4 lg4 md4 xs12 sm4 d-block">
                                            <app-card>
                                                <h2 class="grey--text fs-12 mb-2">{{ 'IMPRESSÕES' }}</h2>
                                                <h4 class="display-1 font-weight-bold">{{
                                                    formatNumber(overviewChart.impressions)
                                                    }}</h4>
                                                <v-progress-linear height="6" color="info"
                                                                   v-model="overviewChart.progressBars.impressions"
                                                                   :indeterminate="overviewChart.showLoading"></v-progress-linear>
                                                <div v-if="this.overviewChart.progressBars.impressions">
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.impressions > 100">
                                                        <v-icon color="info">zmdi-trending-up</v-icon>
                                                        {{ (this.overviewChart.progressBars.impressions -
                                                        100).toFixed(2)
                                                        }}% maior
                                                        que
                                                        o período anterior
                                                    </p>
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.impressions < 100">
                                                        <v-icon color="orange">zmdi-trending-down</v-icon>
                                                        {{ (100 -
                                                        this.overviewChart.progressBars.impressions).toFixed(2)
                                                        }}% menor
                                                        que
                                                        o período anterior
                                                    </p>
                                                </div>
                                            </app-card>
                                        </v-flex>
                                        <v-flex class="xl4 lg4 md4 xs12 sm4 d-block">
                                            <app-card>
                                                <h2 class="grey--text fs-12 mb-2">{{ 'POSIÇÃO MÉDIA' }}</h2>
                                                <h4 class="display-1 font-weight-bold">{{
                                                    formatNumber(overviewChart.averageposition)
                                                    }}</h4>
                                                <v-progress-linear height="6" color="info"
                                                                   v-model="overviewChart.progressBars.averageposition"
                                                                   :indeterminate="overviewChart.showLoading"></v-progress-linear>
                                                <div v-if="this.overviewChart.progressBars.averageposition">
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.averageposition > 100">
                                                        <v-icon color="info">zmdi-trending-up</v-icon>
                                                        {{ (this.overviewChart.progressBars.averageposition -
                                                        100).toFixed(2) }}%
                                                        maior
                                                        que o período anterior
                                                    </p>
                                                    <p class="caption"
                                                       v-if="this.overviewChart.progressBars.averageposition < 100">
                                                        <v-icon color="orange">zmdi-trending-down</v-icon>
                                                        {{ (100 -
                                                        this.overviewChart.progressBars.averageposition).toFixed(2)
                                                        }}%
                                                        menor
                                                        que o período anterior
                                                    </p>
                                                </div>
                                            </app-card>
                                        </v-flex>
                                    </v-layout>
                                </v-card-text>
                            </v-card>

                            <v-card v-bind:key="'2'" id="chart-dailyClicks" class="pageBreak">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">
                                            <v-avatar>
                                                <img class="img-responsive" :src="dailyClicksChart.logo.url"
                                                     :alt="dailyClicksChart.logo.alt">
                                            </v-avatar>
                                            {{ this.dailyClicksChart.title }}
                                        </div>
                                        <span class="grey--text">{{ this.dailyClicksChart.subtitle }}</span>
                                    </div>
                                </v-card-title>
                                <div class="app-card-content">
                                    <app-section-loader :status="dailyClicksChart.loader"></app-section-loader>
                                    <google-bar-chart :chartdata="dailyClicksChart.chartdata"
                                                      v-if="!dailyClicksChart.loader"></google-bar-chart>
                                </div>
                            </v-card>

                            <v-card id="chart-dailyCost" class="pageBreak">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">
                                            <v-avatar>
                                                <img class="img-responsive" :src="dailyCostChart.logo.url"
                                                     :alt="dailyCostChart.logo.alt">
                                            </v-avatar>
                                            {{this.dailyCostChart.title}}
                                        </div>
                                        <span class="grey--text">{{ this.dailyCostChart.subtitle }}</span>
                                    </div>
                                </v-card-title>
                                <div class="app-card-content">
                                    <app-section-loader :status="dailyCostChart.loader"></app-section-loader>
                                    <google-bar-chart :labelFormat="dailyCostChart.format"
                                                      :chartdata="dailyCostChart.chartdata"
                                                      v-if="!dailyCostChart.loader"></google-bar-chart>
                                </div>
                            </v-card>


                            <v-card v-bind:key="'3'" id="chart-dailyCpc" class="pageBreak">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">
                                            <v-avatar>
                                                <img class="img-responsive" :src="dailyCpcChart.logo.url"
                                                     :alt="dailyCpcChart.logo.alt">
                                            </v-avatar>
                                            {{this.dailyCpcChart.title}}
                                        </div>
                                        <span class="grey--text">{{ this.dailyCpcChart.subtitle }}</span>
                                    </div>
                                </v-card-title>
                                <div class="app-card-content">
                                    <app-section-loader :status="dailyCpcChart.loader"></app-section-loader>
                                    <google-bar-chart :chartdata="dailyCpcChart.chartdata"
                                                      v-if="!dailyCpcChart.loader"></google-bar-chart>
                                </div>
                            </v-card>
                            <v-card id="chart-dailyCtr" class="pageBreak">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">
                                            <v-avatar>
                                                <img class="img-responsive" :src="dailyCtrChart.logo.url"
                                                     :alt="dailyCtrChart.logo.alt">
                                            </v-avatar>
                                            {{this.dailyCtrChart.title}}
                                        </div>
                                        <span class="grey--text">{{ this.dailyCtrChart.subtitle }}</span>
                                    </div>
                                </v-card-title>
                                <div class="app-card-content">
                                    <app-section-loader :status="dailyCtrChart.loader"></app-section-loader>
                                    <google-bar-chart :chartdata="dailyCtrChart.chartdata"
                                                      v-if="!dailyCtrChart.loader"></google-bar-chart>
                                </div>
                            </v-card>
                            <v-card id="chart-dailyImpressions" class="pageBreak">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">
                                            <v-avatar>
                                                <img class="img-responsive"
                                                     :src="dailyImpressionsChart.logo.url"
                                                     :alt="dailyImpressionsChart.logo.alt">
                                            </v-avatar>
                                            {{this.dailyImpressionsChart.title}}
                                        </div>
                                        <span class="grey--text">{{ this.dailyImpressionsChart.subtitle }}</span>
                                    </div>
                                </v-card-title>
                                <div class="app-card-content">
                                    <app-section-loader
                                            :status="dailyImpressionsChart.loader"></app-section-loader>
                                    <google-bar-chart :chartdata="dailyImpressionsChart.chartdata"
                                                      v-if="!dailyImpressionsChart.loader"></google-bar-chart>
                                </div>
                            </v-card>
                            <v-card id="chart-dailyPosition" class="pageBreak">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">
                                            <v-avatar>
                                                <img class="img-responsive" :src="dailyPositionChart.logo.url"
                                                     :alt="dailyPositionChart.logo.alt">
                                            </v-avatar>
                                            {{this.dailyPositionChart.title}}
                                        </div>
                                        <span class="grey--text">{{ this.dailyPositionChart.subtitle }}</span>
                                    </div>
                                </v-card-title>
                                <div class="app-card-content">
                                    <app-section-loader
                                            :status="dailyPositionChart.loader"></app-section-loader>
                                    <google-bar-chart :chartdata="dailyPositionChart.chartdata"
                                                      v-if="!dailyPositionChart.loader"></google-bar-chart>
                                </div>
                            </v-card>
                            <v-card id="table-topCampaigns" class="pageBreak">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">
                                            <v-avatar>
                                                <img class="img-responsive" :src="campaignsTable.logo.url"
                                                     :alt="campaignsTable.logo.alt">
                                            </v-avatar>
                                            {{this.campaignsTable.title}}
                                        </div>
                                    </div>
                                </v-card-title>
                                <v-card-text>
                                    <app-section-loader :status="campaignsTable.loader"></app-section-loader>
                                    <v-data-table
                                            v-if="!campaignsTable.loader"
                                            :headers="campaignsTable.tabledata.headers"
                                            :items="campaignsTable.tabledata.data"
                                            class="elevation-1"
                                    >
                                        <template slot="items" slot-scope="props">
                                            <td v-for="item in props.item">{{ item }}</td>
                                        </template>
                                    </v-data-table>
                                </v-card-text>
                            </v-card>
                            <v-card id="table-topAds" class="pageBreak">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">
                                            <v-avatar>
                                                <img class="img-responsive" :src="adsTable.logo.url"
                                                     :alt="adsTable.logo.alt">
                                            </v-avatar>
                                            {{this.adsTable.title}}
                                        </div>
                                    </div>
                                </v-card-title>
                                <v-card-text>
                                    <app-section-loader :status="adsTable.loader"></app-section-loader>
                                    <v-data-table
                                            v-if="!adsTable.loader"
                                            :headers="adsTable.tabledata.headers"
                                            :items="adsTable.tabledata.data"
                                            class="elevation-1"
                                    >
                                        <template slot="items" slot-scope="props">
                                            <td v-for="item in props.item">{{ item }}</td>
                                        </template>
                                    </v-data-table>
                                </v-card-text>
                            </v-card>
                            <v-card id="table-topKeywords" class="pageBreak">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">
                                            <v-avatar>
                                                <img class="img-responsive" :src="keywordsTable.logo.url"
                                                     :alt="keywordsTable.logo.alt">
                                            </v-avatar>
                                            {{this.keywordsTable.title}}
                                        </div>
                                    </div>
                                </v-card-title>
                                <v-card-text>
                                    <app-section-loader :status="keywordsTable.loader"></app-section-loader>
                                    <v-data-table
                                            v-if="!keywordsTable.loader"
                                            :headers="keywordsTable.tabledata.headers"
                                            :items="keywordsTable.tabledata.data"
                                            class="elevation-1"
                                    >
                                        <template slot="items" slot-scope="props">
                                            <td v-for="item in props.item">{{ item }}</td>
                                        </template>
                                    </v-data-table>
                                </v-card-text>
                            </v-card>
                            <v-card class="pageBreak">
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">
                                            <v-avatar>
                                                <img class="img-responsive" :src="mainCampaignTable.logo.url"
                                                     :alt="mainCampaignTable.logo.alt">
                                            </v-avatar>
                                            {{this.mainCampaignTable.title}}
                                        </div>
                                    </div>
                                </v-card-title>
                                <v-card-text>
                                    <app-section-loader :status="mainCampaignTable.loader"></app-section-loader>
                                    <v-data-table
                                            id="table-mainCampaign"
                                            v-if="!mainCampaignTable.loader"
                                            :headers="mainCampaignTable.tabledata.headers"
                                            :items="mainCampaignTable.tabledata.data"
                                            class="elevation-1"
                                    >
                                        <template slot="items" slot-scope="props">
                                            <td v-for="item in props.item">{{ item }}</td>
                                        </template>
                                    </v-data-table>
                                </v-card-text>
                            </v-card>
                        </div>
                    </v-list>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import CustomBarChart from "Components/Charts/CustomBarChart";
    import CustomTable from "Components/Deskfull/CustomTable";
    import GoogleBarChart from "Components/Charts/GoogleBarChart";
    import axios from 'axios';
    import jsPDF from 'jspdf';
    import 'jspdf-autotable';
    import html2canvas from 'html2canvas';
    import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';

    const logoGoogle = {
        url: "/static/images-conecta/accounts-logo-google-ad_words.png",
        alt: "Adwords"
    };
    const base_url_reports = '/api/reports';
    export default {
        data() {
            return {
                form1: {
                    valid: false,
                    nameRules: [
                        v => (v &&!!v)|| "Campo data Obrigatório",
                    ],
                },
                dateFormatFin: null,
                dateFormatIni: null,
                dateFormatFinInter: null,
                dateFormatIniInter: null,
                date: null,
                dataFinal: null,
                dataInicial: null,
                dataFinalInter: null,
                dataInicialInter: null,
                menu: false,
                menu2: false,
                menu3: false,
                menu4: false,

                idclient: null,
                showSelectCustomers: false,
                showSelectCampaigns: false,
                loadingCustomers: false,
                loadingCampaigns: false,
                loader: false,
                pdfLoader: false,
                filterParams: {},
                customers: [],
                campaigns: [],
                selectedCustomer: null,
                selectedCampaign: null,
                compareDates: false,
                rendered: 0,
                filtered: false,
                overviewChart: {
                    show: false,
                    title: 'Visão Geral',
                    clicks: 0,
                    averageposition: 0,
                    ctr: 0,
                    impressions: 0,
                    averagecpc: 0,
                    cost: 0,
                    logo: logoGoogle,
                    loader: false,
                    showLoading: false,
                    past: {
                        clicks: 0,
                        averageposition: 0,
                        ctr: 0,
                        impressions: 0,
                        averagecpc: 0,
                        cost: 0,
                        loader: false,
                    },
                    progressBars: {
                        clicks: 0,
                        averageposition: 0,
                        ctr: 0,
                        impressions: 0,
                        averagecpc: 0,
                        cost: 0,
                    }
                },
                list: [
                    {label: `Hoje`, value: 'day', isSelected: false},
                    {label: 'Ontem', value: '-day', isSelected: false},
                    {label: 'Essa Semana', value: 'week', isSelected: true},
                    {label: 'Semana passada', value: '-week', isSelected: false},
                    /*{ label: 'Essa semana (Dias úteis)', value: 'isoWeek', isSelected: false },*/
                    /*{ label: 'Semana passada (Dias úteis)', value: '-isoWeek', isSelected: false },*/
                    {label: 'Este Mês', value: 'month', isSelected: false},
                    {label: 'Mês passado', value: '-month', isSelected: false},
                    {label: 'Este Ano', value: 'year', isSelected: false},
                    {label: 'Ano passado', value: '-year', isSelected: false},
                    {label: 'Ultimos 7 dias', value: 7, isSelected: false},
                    {label: 'Ultimos 14 dias', value: 14, isSelected: false},
                    {label: 'Ultimos 30 dias', value: 30, isSelected: false},
                ],
                interval: null,
                intervalCompare: null,
                grafico: 10,
                dailyClicksChart: {
                    title: "Cliques diários",
                    subtitle: "Frequência com que as pessoas visualizam o seu anúncio e clicam nele. A taxa de cliques avalia o desempenho das suas palavras-chave e dos seus anúncios.",
                    logo: logoGoogle,
                    chartdata: {},
                    loader: false,
                },
                dailyCostChart: {
                    title: "Custo diário",
                    subtitle: "Trata-se do custo total para se obter uma conversão.",
                    logo: logoGoogle,
                    chartdata: {},
                    loader: false,
                    format: 'R$'
                },
                dailyCpcChart: {
                    title: "CPC diário",
                    subtitle: "É o valor médio cobrado por um clique no seu anúncio. O CPC é calculado dividindo o custo total dos seus cliques pelo número total de cliques.",
                    logo: logoGoogle,
                    chartdata: {},
                    loader: false,
                },
                dailyCtrChart: {
                    title: "CTR diário",
                    subtitle: "A CTR é o número de cliques recebidos dividido pelo número de vezes que ele foi exibido. " +
                        "Uma CTR alta é um bom indicador de que os usuários consideram seus anúncios úteis.",
                    logo: logoGoogle,
                    chartdata: {},
                    loader: false,
                },
                dailyImpressionsChart: {
                    title: "Impressões diárias",
                    subtitle: "Frequência com que os seus anúncios são exibidos. São contabilizadas quando o seu anúncio é exibido em uma página de resultados ou outro site do google.",
                    logo: logoGoogle,
                    chartdata: {},
                    loader: false,
                },
                dailyPositionChart: {
                    title: "Posição Média Diária",
                    subtitle: "Trata-se da posição em que os seus anúncios estão aparecendo. O google exibe até 4 resultados superiores e 4 inferiores ao conteúdo orgânico.",
                    logo: logoGoogle,
                    chartdata: {},
                    loader: false,
                },
                campaignsTable: {
                    title: "Top Campanhas",
                    logo: logoGoogle,
                    tabledata: {},
                    loader: false,
                },
                adsTable: {
                    title: "Top Anúncios",
                    logo: logoGoogle,
                    tabledata: {},
                    loader: false,
                },
                keywordsTable: {
                    title: "Top Palavras-Chave",
                    logo: logoGoogle,
                    tabledata: {},
                    loader: false,
                },
                mainCampaignTable: {
                    title: "Campanha Principal",
                    logo: logoGoogle,
                    tabledata: {},
                    loader: false,
                }
            }
        },
        methods: {
            parseDate(date) {
                if (!date) {
                    return null;
                }

                const [month, day, year] = date.split("/");
                return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
            },
            formatDate(date) {
                if (!date) {
                    return null;
                }
                const [year, month, day] = date.split("-");
                return `${day}/${month}/${year}`;
            },
            handleQuery() {
                if (this.$route.query.client) {
                    var client = this.$route.query.client;
                    var deskfull = this.$route.query.deskfull;

                    this.fetchCustomers(client, deskfull);
                } else {
                    this.showError('Nenhum cliente informado!');
                }
            },
            selectCustomer(idCustomer) {
                this.selectedCustomer = idCustomer;
                this.fetchCampaigns(idCustomer);
            },
            selectCampaign(idCampaign) {
                this.selectedCampaign = idCampaign;
            },
            fetchCustomers(idclient, deskfull) {
                this.customers = [];
                this.loadingCustomers = true;
                axios.get('/api/deskfull-clients/' + idclient + '/' + deskfull + '/customers').then((response => {
                    const resposta = response.data;

                    this.showSelectCustomers = true;
                    this.loadingCustomers = false;
                    for (var i = 0; i < resposta.length; i++) {
                        var customer = resposta[i];
                        this.customers.push({
                            id: customer.id,
                            descriptiveName: customer.descriptiveName
                        });
                    }
                })).catch(error => console.error(error));
            },
            fetchCampaigns(idCustomer) {
                this.campaigns = [];
                this.loadingCampaigns = true;
                axios.get('/api/customers/' + idCustomer + '/campaigns').then((response) => {
                    let resposta = response.data;
                    if (resposta.success == true) {
                        resposta = resposta.result;
                        this.campaigns.push({id: 0, name: 'Todas as campanhas'});
                        for (var i = 0; i < resposta.length; i++) {
                            var campaign = resposta[i];
                            this.campaigns.push({
                                id: campaign.id,
                                name: campaign.name
                            });
                        }
                    } else {
                        this.showError(resposta.message);
                    }
                    this.showSelectCampaigns = true;
                    this.loadingCampaigns = false;

                }).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.loadingCampaigns = false;
                    }
                );
            },
            showError(error) {
                Vue.notify({
                    group: 'loggedIn',
                    type: 'error',
                    text: error
                });
            },
            checkAllLoaded() {
                let objects = [
                    this.overviewChart,
                    this.overviewChart.past,
                    this.dailyClicksChart,
                    this.dailyCostChart,
                    this.dailyCpcChart,
                    this.dailyCtrChart,
                    this.dailyImpressionsChart,
                    this.dailyPositionChart,
                    this.adsTable,
                    this.campaignsTable,
                    this.keywordsTable,
                    this.mainCampaignTable
                ];
                let loaded = 0;
                for (let i = 0; i < objects.length; i++) {
                    let object = objects[i];
                    if (!object.loader) {
                        loaded++;
                    }
                }
                if (loaded === objects.length) {
                    this.loader = false;
                    this.filtered = true;
                }
            },
            filter() {
                if (this.$refs.form.validate()) {
                    this.filtered = false;
                    this.loader = true;
                    this.overviewChart.show = true;

                    let filterParams = {};
                    filterParams.CustomerId = this.selectedCustomer;

                    if (this.selectedCampaign > 0) {
                        filterParams.CampaignId = this.selectedCampaign;
                    }

                    filterParams.DateRange = 'CUSTOM_DATE';
                    filterParams.StartDate = this.dataInicial;
                    filterParams.EndDate = this.dataFinal;

                    var urlparams = Object.entries(filterParams).map(([key, val]) => `${key}=${encodeURIComponent(val)}`).join('&');

                    this.overviewChart.showLoading = true;

                    this.getOverview(urlparams);

                    if (this.compareDates) {
                        filterParams.StartDate = this.dataInicialInter;
                        filterParams.EndDate = this.dataFinalInter;
                        var urlparamsPast = Object.entries(filterParams).map(([key, val]) => `${key}=${encodeURIComponent(val)}`).join('&');

                        this.getOverviewPast(urlparamsPast);

                    }
                    this.getDailyClicks(urlparams);
                    this.getDailyCost(urlparams);
                    this.getDailyCpc(urlparams);
                    this.getDailyCtr(urlparams);
                    this.getDailyImpressions(urlparams);
                    this.getDailyPosition(urlparams);

                    this.getTopCampaigns(urlparams);
                    this.getTopAds(urlparams);
                    this.getTopKeywords(urlparams);
                    this.getMainCampaigns(urlparams);
                }
            },
            getOverview(urlparams) {
                this.overviewChart.loader = true;
                axios.get(base_url_reports + '/overview?' + urlparams).then(
                    response => {
                        if (response.data.success) {
                            let dados = response.data.result;
                            this.overviewChart.clicks = dados.clicks;
                            this.overviewChart.averagecpc = dados.avgCPC / 1000000;
                            this.overviewChart.averageposition = dados.avgPosition;
                            this.overviewChart.ctr = dados.ctr;
                            this.overviewChart.impressions = dados.impressions;
                            this.overviewChart.cost = dados.cost / 1000000;
                        }
                        this.overviewChart.loader = false;
                        this.checkAllLoaded();
                        this.setLoadingOverview();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.overviewChart.loader = false;
                        this.checkAllLoaded();
                        this.setLoadingOverview();
                    }
                );
            },
            getOverviewPast(urlparams) {
                this.overviewChart.past.loader = true;
                axios.get(base_url_reports + '/overview?' + urlparams).then(
                    response => {
                        if (response.data.success) {
                            let dados = response.data.result;
                            this.overviewChart.past.clicks = dados.clicks;
                            this.overviewChart.past.averagecpc = dados.avgCPC / 1000000;
                            this.overviewChart.past.averageposition = dados.avgPosition;
                            this.overviewChart.past.ctr = dados.ctr;
                            this.overviewChart.past.impressions = dados.impressions;
                            this.overviewChart.past.cost = dados.cost / 1000000;
                        }
                        this.overviewChart.past.loader = false;
                        this.checkAllLoaded();
                        this.setLoadingOverview();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.overviewChart.past.loader = false;
                        this.checkAllLoaded();
                        this.setLoadingOverview();
                    }
                );
            },
            getDailyClicks(urlparams) {
                this.dailyClicksChart.loader = true;
                axios.get(base_url_reports + '/daily-clicks?' + urlparams).then(
                    response => {
                        this.dailyClicksChart.chartdata.datasets = response.data.datasets;
                        this.dailyClicksChart.chartdata.labels = response.data.labels;
                        this.dailyClicksChart.loader = false;
                        this.checkAllLoaded();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.dailyClicksChart.loader = false;
                        this.checkAllLoaded();
                    }
                );
            },
            getDailyCost(urlparams) {
                this.dailyCostChart.loader = true;
                axios.get(base_url_reports + '/daily-cost?' + urlparams).then(
                    response => {
                        if (response.data.success) {
                            this.dailyCostChart.chartdata.datasets = response.data.datasets;
                            this.dailyCostChart.chartdata.labels = response.data.labels;
                        }
                        this.dailyCostChart.loader = false;
                        this.checkAllLoaded();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.dailyCostChart.loader = false;
                        this.checkAllLoaded();
                    }
                );
            },
            getDailyCpc(urlparams) {
                this.dailyCpcChart.loader = true;
                axios.get(base_url_reports + '/daily-cpc?' + urlparams).then(
                    response => {
                        if (response.data.success) {
                            this.dailyCpcChart.chartdata.datasets = response.data.datasets;
                            this.dailyCpcChart.chartdata.labels = response.data.labels;
                        }
                        this.dailyCpcChart.loader = false;
                        this.checkAllLoaded();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.dailyCpcChart.loader = false;
                        this.checkAllLoaded();
                    }
                );
            },
            getDailyCtr(urlparams) {
                this.dailyCtrChart.loader = true;
                axios.get(base_url_reports + '/daily-ctr?' + urlparams).then(
                    response => {
                        if (response.data.success) {
                            this.dailyCtrChart.chartdata.datasets = response.data.datasets;
                            this.dailyCtrChart.chartdata.labels = response.data.labels;
                        }
                        this.dailyCtrChart.loader = false;
                        this.checkAllLoaded();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.dailyCtrChart.loader = false;
                        this.checkAllLoaded();
                    }
                );
            },
            getDailyImpressions(urlparams) {
                this.dailyImpressionsChart.loader = true;
                axios.get(base_url_reports + '/daily-impressions?' + urlparams).then(
                    response => {
                        if (response.data.success) {
                            this.dailyImpressionsChart.chartdata.datasets = response.data.datasets;
                            this.dailyImpressionsChart.chartdata.labels = response.data.labels;
                        }
                        this.dailyImpressionsChart.loader = false;
                        this.checkAllLoaded();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.dailyImpressionsChart.loader = false;
                        this.checkAllLoaded();
                    }
                );
            },
            getDailyPosition(urlparams) {
                this.dailyPositionChart.loader = true;
                axios.get(base_url_reports + '/daily-position?' + urlparams).then(
                    response => {
                        if (response.data.success) {
                            this.dailyPositionChart.chartdata.datasets = response.data.datasets;
                            this.dailyPositionChart.chartdata.labels = response.data.labels;
                        }
                        this.dailyPositionChart.loader = false;
                        this.checkAllLoaded();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.dailyPositionChart.loader = false;
                        this.checkAllLoaded();
                    }
                );
            },
            getTopCampaigns(urlparams) {
                this.campaignsTable.loader = true;
                axios.get(base_url_reports + '/top-campaigns?' + urlparams).then(
                    response => {
                        if (response.data.success) {
                            this.campaignsTable.tabledata.data = response.data.data;
                            this.campaignsTable.tabledata.headers = response.data.headers;
                        }
                        this.campaignsTable.loader = false;
                        this.checkAllLoaded();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.campaignsTable.loader = false;
                        this.checkAllLoaded();
                    }
                );
            },
            getTopAds(urlparams) {
                this.adsTable.loader = true;
                axios.get(base_url_reports + '/top-ads?' + urlparams).then(
                    response => {
                        if (response.data.success) {
                            this.adsTable.tabledata.data = response.data.data;
                            this.adsTable.tabledata.headers = response.data.headers;
                        }
                        this.adsTable.loader = false;
                        this.checkAllLoaded();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.adsTable.loader = false;
                        this.checkAllLoaded();
                    }
                );
            },
            getTopKeywords(urlparams) {
                this.keywordsTable.loader = true;
                axios.get(base_url_reports + '/top-keywords?' + urlparams).then(
                    response => {
                        if (response.data.success) {
                            this.keywordsTable.tabledata.data = response.data.data;
                            this.keywordsTable.tabledata.headers = response.data.headers;
                        }
                        this.keywordsTable.loader = false;
                        this.checkAllLoaded();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.keywordsTable.loader = false;
                        this.checkAllLoaded();
                    }
                );
            },
            getMainCampaigns(urlparams) {
                this.mainCampaignTable.loader = true;
                axios.get(base_url_reports + '/top-devices?' + urlparams).then(
                    response => {
                        if (response.data.success) {
                            this.mainCampaignTable.tabledata.data = response.data.data;
                            this.mainCampaignTable.tabledata.headers = response.data.headers;
                        }
                        this.mainCampaignTable.loader = false;
                        this.checkAllLoaded();
                    }
                ).catch(
                    error => {
                        let message = error.response.data.message.join(', ');
                        this.showError(message);
                        this.mainCampaignTable.loader = false;
                        this.checkAllLoaded();
                    }
                );
            },
            formatNumber(num) {
                if (num > 999999999)
                    return `${(num / 1e9).toFixed(2)}B`;
                if (num > 999999)
                    return `${(num / 1e6).toFixed(2)}M`;
                if (num > 999)
                    return `${(num / 1e3).toFixed(2)}K`;
                if (typeof num === 'number')
                    return num.toFixed(2);

                return num;
            },
            setLoadingOverview() {
                if (this.compareDates) {
                    if (!this.overviewChart.loader && !this.overviewChart.past.loader) {
                        this.overviewChart.progressBars.clicks = this.getProgressPercentage('clicks');
                        this.overviewChart.progressBars.averagecpc = this.getProgressPercentage('averagecpc');
                        this.overviewChart.progressBars.averageposition = this.getProgressPercentage('averageposition');
                        this.overviewChart.progressBars.cost = this.getProgressPercentage('cost');
                        this.overviewChart.progressBars.ctr = this.getProgressPercentage('ctr');
                        this.overviewChart.progressBars.impressions = this.getProgressPercentage('impressions');
                        this.overviewChart.showLoading = false;
                    }
                } else {
                    this.overviewChart.showLoading = false;
                }

            },
            getProgressPercentage(value) {
                let current = this.overviewChart[value];
                let old = this.overviewChart.past[value];
                let percentage = 0;
                percentage = current * 100 / old;
                return percentage.toFixed(2);
            },
            generatePdf() {
                this.pdfLoader = true;

                let charts = [
                    { selector: '#chart-overview', width: '800' },
                    { selector: '#chart-dailyClicks', width: '800' },
                    { selector: '#chart-dailyCtr', width: '800' },
                    { selector: '#chart-dailyImpressions', width: '800' },
                    { selector: '#chart-dailyPosition', width: '800' },
                ];
                this.rendered = 0;
                let canvases = [];
                for(let i = 0; i<charts.length; i++) {
                    let chart = charts[i];

                    let element = document.querySelector(chart.selector);
                    html2canvas(element, {
                        scale: 1,
                        windowWidth: 1048,
                        // windowHeight: 408,
                        onclone: function(document) {
                            var container = $(document).find(chart.selector);
                            container.width(chart.width);
                            container.find('canvas').width(chart.width);
                            // container.find('canvas')
                            // container.find('canvas').parent().width(chart.width);
                            // container.find('.chartjs-render-monitor').width(chart.width);
                            for (var id in Chart.instances) {
                                Chart.instances[id].resize();
                            }
                            // document.querySelector(chart.selector).style.width = chart.width;
                        }
                    }).then((canvas) => {
                        canvases[i] = canvas;
                        this.rendered++;
                        if(this.rendered === charts.length) {
                            var pdf = new jsPDF({
                                orientation: 'p',
                                format: 'a4'
                            });
                            pdf = this.addChartsToPdf(pdf, canvases);

                            let tables = [
                                this.campaignsTable,
                                this.adsTable,
                                this.mainCampaignTable,
                                this.keywordsTable
                            ];

                            pdf = this.addTablesToPdf(pdf, tables);
                            pdf.output("dataurlnewwindow");

                            this.pdfLoader = false;
                        }
                    });
                }

            },
            addTablesToPdf(pdf, tables) {
                var totalPagesExp = "{total_pages_count_string}";

                for(let i=0; i<tables.length; i++) {
                    let tabledata = tables[i].tabledata;

                    let row = [];
                    for(let i=0;i<tabledata.headers.length; i++) {
                        row[i] = tabledata.headers[i].text;
                    }
                    let headers = [ row ];

                    let rows = [];
                    for(let i=0; i<tabledata.data.length; i++) {
                        rows[i] = Object.values(tabledata.data[i]);
                    }
                    pdf.autoTable({
                        head: headers,
                        body: rows,
                        margin: { top: 30},
                        didDrawPage: function (data) {
                            pdf.setFontSize(20);
                            pdf.setTextColor(40);
                            pdf.setFontStyle('normal');
                            pdf.text("Report", data.settings.margin.left + 15, 22);

                            // Footer
                            var str = "Page " + pdf.internal.getNumberOfPages();
                            // Total page number plugin only available in jspdf v1.0+
                            if (typeof pdf.putTotalPages === 'function') {
                                str = str + " of " + totalPagesExp;
                            }
                            pdf.setFontSize(10);
                            var pageSize = pdf.internal.pageSize;
                            var pageHeight = pageSize.height ? pageSize.height : pageSize.getHeight();
                            pdf.text(str, data.settings.margin.left, pageHeight - 10);
                        }
                    });

                    pdf.putTotalPages(totalPagesExp);
                    let table = $('<table></table>');

                    pdf.autoTable({html: table.html()});

                }
                return pdf;
            },
            addChartsToPdf(pdf, canvases) {

                for( let i=0; i<canvases.length; i++ ){
                    let canvas = canvases[i];
                    pdf.addImage(canvas, 'PNG', 0,0);
                    pdf.addPage();
                }
                return pdf;
            }
        },
        computed: {
            formattedNumber(num) {
                return this.formatNumber(num);
            }
        },

        components: {
            CustomTable,
            CustomBarChart,
            GoogleBarChart
        },
        mounted() {
            this.handleQuery();
        },
        name: "Relatorios",

    }
</script>

<style>

</style>
<style scoped>

    .datetimepicker .datepicker[data-v-517054ba] {
        position: relative;
    }

    #reportPage {
        background-color: white;
    }
</style>
