<template>
    <div>
        <v-container fluid grid-list-xl>
            <v-card>

                <VueCtkDateTimePicker label="Selecione o Intervalo da Data" formatted="l" v-model="yourValue" locale="pt" :range="true"  :custom-shortcuts="list" />

               </v-card>
        </v-container>
    </div>
</template>

<script>
    
    import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';

    const logoGoogle = {
        url: "/static/images-conecta/accounts-logo-google-ad_words.png",
        alt: "Adwords"
    };
    export default {
        data() {
            return {
                list:[
                    { label: `Hoje`, value: 'day', isSelected: false },
                    { label: 'Ontem', value: '-day', isSelected: false },
                    { label: 'Nesse Semana', value: 'week', isSelected: true },
                    { label: 'Ultima Semana', value: '-week', isSelected: false },
                    { label: 'Nesse iso Week', value: 'isoWeek', isSelected: true },
                    { label: 'Ultima Semana', value: '-isoWeek', isSelected: false },
                    { label: 'Nesse Mês', value: 'month', isSelected: false },
                    { label: 'Último Mês', value: '-month', isSelected: false },
                    { label: 'Nesse Ano', value: 'year', isSelected: false },
                    { label: 'Último Ano', value: '-year', isSelected: false },
                    { label: 'Ultimos 5 dias', value: 5, isSelected: false }
                ],
                yourValue: null,

            }
        },
        methods: {

        }


    }
</script>

<style scoped>

</style>