<template>
    <div>
        <v-container fluid grid-list-xl pt-0>
            <page-title-bar></page-title-bar>

            <section-tooltip :title="$t('message.reportsADS')" :tooltip="$t('message.reportsADS')"></section-tooltip>

            <app-section-loader :status="loader"></app-section-loader>


            <v-layout row wrap>
                <v-flex xs12>

                    <app-card :heading="'Clientes'" customClasses="mb-90" v-if="tela">


                        <div class="profile-head app-card mb-30">
                            <v-layout align-center justify-center row fill-height>
                                <div class="user-image text-xs-center mb-3">

                                    <v-flex xs12 class=" text-center">
                                        <v-avatar size="200px" v-ripple class="grey lighten-3 mb-3">
                                            <img :src="clientImgAdd" class="img-responsive mb-3 " width="200"
                                                 height="200"/>
                                        </v-avatar>
                                    </v-flex>
                                    <p class="text-md-center justify-space-between">
                                        Você ainda não cadastrou nenhum cliente.
                                        Para ter acesso aos Relatórios você precisa ter cadastrado pelo menos 1 Contas e
                                        1 Cliente.
                                    </p>
                                    <v-btn :to="'deskfull-client-add'" color="success">
                                        {{$t('message.addNewDeskFullClient')}}
                                    </v-btn>

                                </div>
                            </v-layout>
                        </div>
                    </app-card>

                </v-flex>
            </v-layout>

            <app-card :heading="'Clientes: '+client.nome" customClasses="mb-30" v-for="client in clients"
                      :key="client.id">

                <v-layout row wrap v-bind:class="[client.deleted_at ? 'gradient-warning' : '']">

                    <v-flex xs12>
                        <v-card-text>
                            <v-layout row wrap>

                                <v-flex xs6 sm2>
                                    <v-img src="/static/img/blog-6.jpg" height="40px"></v-img>
                                </v-flex>
                                <v-flex xs6 sm2>
                                    <span class="pt-4 d-block text-danger fw-bold"> {{ client.nome}}</span>
                                </v-flex>
                                <v-flex xs6 sm4>
                                    <span class=" pt-4 d-block"> {{ client.email}}</span>
                                </v-flex>

                                <v-layout row wrap icon-box sm2>
                                    <v-flex xs12 sm6 md4 lg2>

                                        <v-btn :to="'deskfull-reports?client='+client.user_id+'&deskfull='+client.id"
                                               color="success" fab dark>
                                            <v-icon dark>
                                                ti-bar-chart
                                            </v-icon>
                                        </v-btn>
                                    </v-flex>
                                </v-layout>
                            </v-layout>

                        </v-card-text>
                    </v-flex>
                </v-layout>
            </app-card>
        </v-container>
    </div>
</template>

<script>
    import axios from 'axios';
    import AppDeskfull from "Constants/AppDeskfull";

    export default {
        name: "DeskFullClients",
        data() {
            return {
                tela: false,
                clientImgAdd: AppDeskfull.clientAdd,
                accounts:
                    [],
                clients:
                    {}
                ,
                customers: [],
                loader:
                    false
            }
        },
        methods: {
            getClients() {
                this.loader = true;
                axios.get('/api/deskfull-clients').then(response => {
                    this.clients = response.data;
                    this.loader = false;
                }).catch(
                    (error) => {

                        //if (err.response.status === 401) {
                        //  Vue.auth.destroyToken();
                        //  router.push('/session/login')
                        //}else{
                        Vue.notify({
                            group: 'loggedIn',
                            type: 'error',
                            text: 'Não foi possível buscar os clientes'
                        });

                        //}
                        this.loader = false;
                    }
                );
            },
        },

        mounted() {
            if (!this.clients.length) {
                this.tela = false;
            } else {
                this.tela = true;
            }
            this.getClients();
        }
    }
</script>

<style scoped>

</style>