<template>
    <div class="profile-head app-card mb-30">
        <div class="profile-top">
            <img src="/static/img/profile-banner.jpg" :alt="name" width="1920" height="165"/>
        </div>
        <div class="profile-bottom border-bottom-light-1">
            <v-layout align-center justify-center row fill-height>
                <div class="user-image text-xs-center mb-3">
                    <!--<img width="120" src="/static/people-cover/face.png" class="img-responsive rounded-circle" alt="user images" />-->

                    <!-- Begin To add Image-->
                    <image-input v-model="avatar">
                        <div slot="activator">
                            <v-avatar size="120px" v-ripple v-if="!avatar" class="grey lighten-3 mb-3">
                                <span v-if="hasImageProfile == false">Clique para Adcionar</span>
                                <img v-if="hasImageProfile == true" :src="this.imageProfile" alt="avatar">
                            </v-avatar>
                            <v-avatar size="150px" v-ripple v-else class="mb-3">
                                <img :src="avatar.imageURL" alt="avatar">
                            </v-avatar>
                        </div>
                    </image-input>
                    <v-slide-x-transition>
                        <div v-if="avatar && saved == false">
                            <v-btn class="primary" @click="uploadImage" :loading="saving">Clique para Salvar</v-btn>
                        </div>
                    </v-slide-x-transition>
                    <!-- End To add Image-->
                </div>
            </v-layout>


            <div class="user-list-content">
                <div class="text-xs-center">
                    <h3 class="fw-bold">{{ name }}</h3>
                    <p>{{ email }}</p>
                    <div class="social-list clearfix mb-4">
                        <ul class="list-inline d-inline-block">
                            <li v-for="role in roles">
                                <v-chip color="orange" text-color="white">
                                    <v-avatar>
                                        <v-icon>account_circle</v-icon>
                                    </v-avatar>
                                    {{ role }}
                                </v-chip>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-activity text-xs-center">
            <!--<ul class="list-inline d-inline-block">
                <li>
                    <span class="fw-bold">588</span>
                    <span>Articles</span>
                </li>
                <li>
                    <span class="fw-bold">2400</span>
                    <span>Followers</span>
                </li>
                <li>
                    <span class="fw-bold">1200</span>
                    <span>Following</span>
                </li>
            </ul>-->
        </div>
    </div>
</template>
<script>
  import ImageInput from "../ImageInput/ImageInput";

  export default {
    props: [
      'name',
      'email',
      'roles'
    ],
    data() {
      return {
        avatar: null,
        saving: false,
        saved: false,
        imageProfile: '',
        hasImageProfile: false
      }
    },
    components: {
      ImageInput
    },
    watch: {
      avatar: {
        handler: function () {
          this.saved = false
        },
        deep: true
      }
    },
    mounted() {
        this.getImage()
    },
    methods: {
      uploadImage() {
        this.saving = true
        setTimeout(() => this.savedAvatar(), 1000)
      },
      savedAvatar() {
        let settings = {
          headers: {
            'Content-Type': 'multipart/form-data',
            'Content-Type': 'application/x-www-form-urlencoded',
            'Accept': 'text/plain'
          }
        };
        axios.post('/api/acl/user/upload', this.avatar.formData, settings)
          .then(response => {
            console.log('Horecio');
            console.log(response)
            this.$store.dispatch("setUrlProfileImage", {urlImage: response.data.file.path_file});
          })
          .catch(error => {
            this.loader = false;
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao Enviar Image! Tente mais tarde.'
            });
            console.log(error)
          });

        this.saving = false
        this.saved = true
      },

      getImage() {
        let settings = {
          headers: {
            'Content-type': 'image/jpeg'
          }
        }
        axios.get('/api/acl/user/profileImageUrl', settings)
          .then(response => {
            if (response.data.success == true) {
              this.hasImageProfile = true

              this.imageProfile = response.data.profileImageUrl
            }
          })
          .catch(error => {
            console.log(error)
          });
      }
    }
  };
</script>
