<template>
    <div>
        <page-title-bar></page-title-bar>
        <app-section-loader :status="loader"></app-section-loader>
        <v-container fluid grid-list-xl>
            <app-card customClasses="">
                <v-layout align-center justify-end row fill-height>
                    <!--<v-btn color="primary" @click="" disabled>-->
                        <!--Todos-->
                    <!--</v-btn>-->
                    <!--<v-btn color="warning" @click="">
                        Admins
                    </v-btn>
                    <v-btn color="warning" @click="">-->
                    <!--Clientes-->
                    <!--</v-btn>-->
                    <v-spacer></v-spacer>
                    <v-menu
                            bottom
                            offset-y
                            left
                            content-class="userblock-dropdown"
                            nudge-top="-10"
                            nudge-right="0"
                            transition="slide-y-transition"
                            class="align-end"
                    >
                        <v-btn dark icon slot="activator" class="ma-0">
                            <v-icon color="grey">more_vert</v-icon>
                        </v-btn>
                        <div class="dropdown-content">
                            <v-list class="dropdown-list">
                                <template v-for="userLink in userLinks">
                                    <v-list-tile :to="getMenuLink(userLink.path)" :key="userLink.id"
                                                 v-if="shield(userLink.shield)">
                                        <i :class="userLink.icon"></i>
                                        <span>{{$t(userLink.title)}}</span>
                                    </v-list-tile>
                                </template>
                            </v-list>
                        </div>
                    </v-menu>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12 sm8>
                        <v-text-field
                                label="Pesquisar"
                                v-model="configs.filter">
                            >
                        </v-text-field>
                    </v-flex>
                </v-layout>
            </app-card>

            <v-layout row wrap v-if="usersList !== null">
                <app-card colClasses="xs12 sm6 md4"
                          v-for="(user, index) in list"
                          :key="index"
                          :footer="true">
                    <div class="user-image text-xs-center mb-3">
                        <img v-if="user.image_id == null" src="/static/people-cover/face.png" :alt="user.name"
                             height="95" width="95" class="img-responsive rounded-circle"/>
                        <img v-if="user.image_id !== null" :src="user.imageUrl" :alt="user.name" height="95" width="95"
                             class="img-responsive rounded-circle"/>

                    </div>
                    <div class="user-list-content">
                        <div class="text-xs-center">
                            <h3 class="fw-bold">{{user.name.charAt(0).toUpperCase() + user.name.slice(1) }}</h3>

                            <v-chip color="orange" text-color="white" v-if="user.type == 'Admin'">
                                <v-avatar>
                                    <v-icon>account_circle</v-icon>
                                </v-avatar>
                                {{ user.type }}
                            </v-chip>
                            <v-chip color="teal" text-color="white" v-if="user.type == 'Cliente'">
                                {{ user.type }}
                                <v-icon right>star</v-icon>
                            </v-chip>

                            <div class="social-list clearfix mb-4">
                                <ul class="list-inline d-inline-block">
                                    <!--<li v-for="(links, index) in user.socialLinks" :key="index">-->
                                    <!--<a :href="links.url" class="text-pink">-->
                                    <!--<i :class="links.icon"></i>-->
                                    <!--</a>-->
                                    <!--</li>-->
                                </ul>
                            </div>
                        </div>
                        <div class="layout justify-space-between border-tb-1 pa-2">
                            <div class="align-item-start">
                                <span>CPF:</span>
                            </div>
                            <div class="align-item-end">
                                <ul class="list-inline">
                                    <li class="pa-0">
                                        {{ user.cpf }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layout justify-space-between border-t-1 pa-2">
                            <div class="align-item-start">
                                <span>Email:</span>
                            </div>
                            <div class="align-item-end">
                                <ul class="list-inline">
                                    <li class="pa-0">
                                        {{ user.email }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layout justify-space-between border-tb-1 pa-2 mb-3">
                            <div class="align-item-start">
                                <span>Schema:</span>
                            </div>
                            <div class="align-item-end">
                                <ul class="list-inline">
                                    <li class="pa-0">
                                        {{ user.schema }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--<a class="v-btn btn-success white&#45;&#45;text ma-0" href="javascript:void(0);"-->
                        <!--@click="user.status = !user.status" v-if="user.status">{{$t("message.follow")}}</a>-->
                        <!--<a class="v-btn btn-danger white&#45;&#45;text ma-0" href="javascript:void(0);"-->
                        <!--@click="user.status = !user.status" v-else>{{$t("message.unfollow")}}</a>-->
                    </div>

                    <div class="d-flex height-auto" slot="footer">
                        <v-layout row align-center justify-center row fill-height>
                            <!--<v-flex xs12>-->
                            <!--<div class="text-xs-center">-->
                            <!--<v-switch-->
                            <!--v-model="switch1"-->
                            <!--:label="`Ativar: ${switch1.toString()}`"-->
                            <!--&gt;</v-switch>-->
                            <!--</div>-->
                            <!--</v-flex>-->

                            <div class="w-50 text-xs-center">
                                <p class="mb-0 grey--text fs-12">Criado em</p>
                                <h4 class="fw-bold" v-if="user.created_at">{{ user.created_at | date('%d/%m/%Y') }}</h4>
                            </div>
                            <div class="w-50 text-xs-center border-left-1">

                                <v-btn :to="getMenuLink('/users/edit/' + user.id)" :key="user.id"
                                       v-if="shield('user.edit')"
                                       :disabled="!shield('user.edit')"
                                       color="success"
                                       small
                                >
                                    {{$t("message.edit")}}
                                </v-btn>
                            </div>
                        </v-layout>
                    </div>
                    <app-section-loader :status="loader"></app-section-loader>

                </app-card>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import api from "Api";
    import {generateNumber} from "../../helpers/helpers";
    import {getCurrentAppLayout} from "Helpers/helpers";
    import moment from 'moment'

    export default {
        data() {
            return {
                loader: true,
                usersList: null,
                connectUsersList: null,
                FilterName: '',
                radioGroup: 1,
                switch1: true,
                configs: {
                    orderBy: 'name',
                    order: 'desc',
                    filter: ''
                },
                userLinks: [
                    {
                        id: 1,
                        title: 'message.usersNewTitle',
                        icon: 'ti-user mr-3 primary--text',
                        path: '/users/new',
                        shield: 'user.create'
                    },
                    {
                        id: 3,
                        title: 'message.usersList',
                        icon: 'ti-list mr-3 success--text',
                        path: '/users/list',
                        shield: 'user.index'
                    }
                ],
                hasImageProfile: false,
                imageProfile: '',
            };
        },

        mounted() {
            this.getUsers();
            this.getConnections();
        },

        computed: {

            list() {
                setTimeout(() => {

                    this.loader = false;

                }, 500);


                const filter = this.configs.filter;
                const list = _.orderBy(this.usersList, this.configs.orderBy, this.configs.order);
                this.loader = true;
                if (_.isEmpty(filter)) {
                    return list;
                }


                return _.filter(list, user => user.name.toLocaleLowerCase().indexOf(filter.toLocaleLowerCase()) >= 0);
            },
        },
        methods: {
            moment(date) {

                return moment(date * 1000).format('DD MMM YYYY');
            },
            getImgSrc(connectedUsers) {
                if (this.connectUsersList) {
                    for (var i = 0; i < this.connectUsersList.length; i++) {
                        var user = this.connectUsersList[i];
                        if (connectedUsers === user.id) {
                            return user.img;
                        }
                    }
                }
            },
            getUsers() {
                axios.get("/api/acl/user/index")
                    .then(response => {
                        this.loader = false;
                        this.usersList = response.data.data;
                        console.log(this.usersList)
                    })
                    .catch(error => {
                        this.loader = false;

                        Vue.notify({
                            group: 'loggedIn',
                            type: 'error',
                            text: 'Erro ao Listar!'
                        });
                    });
            },
            getConnections() {
                api
                    .get("vuely/connections.js")
                    .then(response => {
                        this.connectUsersList = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },

            getMenuLink(path) {
                return '/' + getCurrentAppLayout(this.$router) + path;
            },
        }
    };
</script>
