<template>
    <div>
        <page-title-bar></page-title-bar>

        <v-container fluid grid-list-xl>
            <app-card customClasses="">
                <v-layout align-center justify-end row fill-height>
                    <v-menu
                            bottom
                            offset-y
                            left
                            content-class="userblock-dropdown"
                            nudge-top="-10"
                            nudge-right="0"
                            transition="slide-y-transition"
                            class="align-end"
                    >
                        <v-btn dark icon slot="activator" class="ma-0">
                            <v-icon color="grey">more_vert</v-icon>
                        </v-btn>
                        <div class="dropdown-content">
                            <v-list class="dropdown-list">
                                <template v-for="link in links">
                                    <v-list-tile :to="getMenuLink(link.path)" :key="link.id">
                                        <i :class="link.icon"></i>
                                        <span>{{$t(link.title)}}</span>
                                    </v-list-tile>
                                </template>
                            </v-list>
                        </div>
                    </v-menu>
                </v-layout>
            </app-card>

            <v-layout>
                <app-card colClasses="xs12"
                          :heading="'Editar Usuário'"
                          customClasses="mb-30"
                >
                    <v-form v-model="user.valid" ref="form" lazy-validation>
                        <v-alert v-if="is('Desenvolvedor')"
                                 :value="true"
                                 color="success"
                                 icon="check_circle"
                                 outline
                        >
                            Schema: {{ user.schema }}
                        </v-alert>
                        <v-layout row wrap>
                            <v-flex xs12 sm12>
                                <v-select item-text="label"
                                          item-value="id"
                                          label="Perfil"
                                          multiple
                                          solo
                                          chips
                                          v-model="user.selectRole"
                                          :items="user.roles"
                                          :rules="[v => !!v || 'Este campo é obrigatório']"
                                          required
                                ></v-select>
                                <div v-if="errors.roles" class="v-text-field__details">
                                    <div class="v-messages theme--light error--text">
                                        <div class="v-messages__wrapper">
                                            <div class="v-messages__message">{{ errors.roles[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        label="Nome Completo"
                                        v-model="user.name"
                                        :rules="user.nameRules"
                                        :counter="100"
                                        required
                                ></v-text-field>
                                <div v-if="errors.name" class="v-text-field__details">
                                    <div class="v-messages theme--light error--text">
                                        <div class="v-messages__wrapper">
                                            <div class="v-messages__message">{{ errors.name[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        label="Email"
                                        v-model="user.email"
                                        :rules="user.emailRules"
                                        required
                                ></v-text-field>
                                <div v-if="errors.email" class="v-text-field__details">
                                    <div class="v-messages theme--light error--text">
                                        <div class="v-messages__wrapper">
                                            <div class="v-messages__message">{{ errors.email[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-text-field
                                        label="CPF"
                                        v-model="user.cpf"
                                        :rules="user.cpfRules"
                                        required
                                ></v-text-field>
                                <div v-if="errors.cpf" class="v-text-field__details">
                                    <div class="v-messages theme--light error--text">
                                        <div class="v-messages__wrapper">
                                            <div class="v-messages__message">{{ errors.cpf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-select label="Tipo de Usuário"
                                          v-model="user.selectType"
                                          :items="user.types"
                                          :rules="[v => !!v || 'Este campo é obrigatório']"
                                          required
                                ></v-select>
                                <div v-if="errors.types" class="v-text-field__details">
                                    <div class="v-messages theme--light error--text">
                                        <div class="v-messages__wrapper">
                                            <div class="v-messages__message">{{ errors.types[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </v-flex>
                        </v-layout>
                        <v-btn
                                @click="submit"
                                :disabled="!user.valid"
                                color="success"
                        >
                            {{$t("message.update")}}
                        </v-btn>
                    </v-form>
                </app-card>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
  import Nprogress from 'nprogress';
  import {getCurrentAppLayout} from "Helpers/helpers";

  export default {
    data() {
      return {
        user: {
          valid: true,
          name: "",
          nameRules: [
            v => !!v || "Nome é obrigatório",
            v => (v && v.length <= 100) || "Nome deve ser menor que 100"
          ],
          email: "",
          emailRules: [
            v => !!v || "Email é obrigatório",
            v =>
              /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
              "Email deve ser válido"
          ],
          cpf: "",
          cpfRules: [
            v => (v.length == 0 || v.length == 11) || "CPF deve ter 11 números"
          ],
          selectType: null,
          selectRole: null,
          schema: '',
          types: ["Admin", "Cliente"],
          roles: [],
          checkbox: false
        },
        errors: {},
        links: [
          {
            id: 1,
            title: 'message.usersNewTitle',
            icon: 'ti-user mr-3 primary--text',
            path: '/users/new'
          },
          {
            id: 3,
            title: 'message.usersList',
            icon: 'ti-list mr-3 success--text',
            path: '/users/list'
          }
        ]
      };
    },

    mounted() {
      // console.log(this.errors.cpf)
      this.getUser(this.$route.params.userId)
    },

    methods: {
      submit() {
        if (this.$refs.form.validate()) {
          console.log("form submit");
          this.updateUser(this.$route.params.userId)
        }
      },

      clear() {
        this.$refs.form.reset();
        this.errors = {};
      },

      getUser(userId) {
        axios.get("/api/acl/user/edit/" + userId)
          .then(response => {
            this.loader = false;
            let result = response.data.data,
              user = result.user,
              roles = result.roles,
              selectedRoles = result.selectedRoles;

            this.user.name = user.name
            this.user.email = user.email
            this.user.cpf = user.cpf
            this.user.selectType = user.type
            this.user.schema = user.schema
            this.user.roles = roles
            this.user.selectRole = selectedRoles
          })
          .catch(error => {
            this.loader = false;
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao Buscar Usuário!'
            });
          });
      },

      updateUser(userId) {
        this.loader = true;
        const user = {
          name: this.user.name,
          email: this.user.email,
          cpf: this.user.cpf,
          type: this.user.selectType,
          roles: this.user.selectRole
        };

        axios.put("/api/acl/user/update/" + userId, user)
          .then(response => {
            this.loader = false;
            Vue.notify({
              group: 'loggedIn',
              type: 'success',
              text: 'Atualizado com Sucesso!'
            });

            this.$router.push("/default/users/list");
          })
          .catch(error => {
            this.loader = false;
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao atualizar!'
            });

            // Para erros da validção do laravel
            if (error.response.status == 422) {
              this.errors = {};
              this.errors = error.response.data.errors;
            }
          });
      },

      getMenuLink(path) {
        return '/' + getCurrentAppLayout(this.$router) + path;
      },
    }
  };
</script>
