<template>
    <div>
        <page-title-bar></page-title-bar>

        <v-container fluid grid-list-xl>
            <app-card customClasses="">
                <v-layout align-center justify-end row fill-height>
                    <v-menu
                            bottom
                            offset-y
                            left
                            content-class="userblock-dropdown"
                            nudge-top="-10"
                            nudge-right="0"
                            transition="slide-y-transition"
                            class="align-end"
                    >

                    </v-menu>
                </v-layout>
            </app-card>

            <v-layout>
                <app-card colClasses="xs12"
                          :heading="''"
                          customClasses="mb-30"
                >
                    <v-form v-model="user.valid" ref="form" lazy-validation>
                        <v-layout row wrap>
                            <v-flex xs12 sm4>
                                <v-text-field
                                        type="password"
                                        label="Senha Atual"
                                        v-model="user.currentPassword"
                                        :rules="user.currentPasswordRules"
                                        required
                                ></v-text-field>
                                <div v-if="errors.currentPassword" class="v-text-field__details">
                                    <div class="v-messages theme--light error--text">
                                        <div class="v-messages__wrapper">
                                            <div class="v-messages__message">{{ errors.currentPassword[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field
                                        type="password"
                                        label="Nova Senha"
                                        v-model="user.password"
                                        :rules="user.passwordRules"
                                        required
                                ></v-text-field>
                                <div v-if="errors.password" class="v-text-field__details">
                                    <div class="v-messages theme--light error--text">
                                        <div class="v-messages__wrapper">
                                            <div class="v-messages__message">{{ errors.password[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field
                                        type="password"
                                        label="Repita a Nova senha"
                                        v-model="user.password_confirmation"
                                        :rules="user.password_confirmationRules"
                                        required
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-btn
                                @click="submit"
                                :disabled="!user.valid"
                                color="success"
                        >
                            {{$t("message.submit")}}
                        </v-btn>
                        <v-btn @click="clear" color="default">{{$t("message.clear")}}</v-btn>
                    </v-form>
                    <app-section-loader :status="loader"></app-section-loader>
                </app-card>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
  import Nprogress from 'nprogress';
  import {getCurrentAppLayout} from "Helpers/helpers";

  export default {
    data() {
      return {
        loader: false,
        user: {
          valid: true,
          currentPassword: "",
          currentPasswordRules: [
            v => !!v || "Senha atual é obrigatório"
          ],
          password: "",
          passwordRules: [
            v => !!v || "Nova senha é obrigatório",
            v => ( v.length >= 8 && v.length <= 255) || "A nova senha deve ter mais de 8 digitos"
          ],
          password_confirmation: "",
          password_confirmationRules: [
            v => !!v || "Não esqueça de repetir a senha!",
            v => ( v.length >= 8 && v.length <= 255) || "A confirmação também deve ter mais de 8 digitos"
          ]
        },
        errors: {}
      };
    },

    mounted() {
      // console.log(this.errors.cpf)
    },

    methods: {
      submit() {
        if (this.$refs.form.validate()) {
          this.changePassword()
        }
      },
      clear() {
        this.$refs.form.reset();
        this.errors = {};
      },
      changePassword() {
        this.loader = true;
        Nprogress.start();
        const user = {
          currentPassword: this.user.currentPassword,
          password: this.user.password,
          password_confirmation: this.user.password_confirmation
        };
        axios.put("/api/acl/user/update-password", user)
          .then(response => {
            Nprogress.done();
            this.loader = false;
            Vue.notify({
              group: 'loggedIn',
              type: 'success',
              text: 'Senha Atualizada com Sucesso!'
            });
            this.clear();
          })
          .catch(error => {
            Nprogress.done();
            this.loader = false;
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao salvar!'
            });

            // Para erros da validação do laravel
            if (error.response.status == 422) {
              this.errors = {};
              this.errors = error.response.data.errors;
            }
          });
      },
      getMenuLink(path) {
        return '/' + getCurrentAppLayout(this.$router) + path;
      },
    }
  };
</script>
