<template>
    <div class="app-card">
        <v-expansion-panel >
            <v-expansion-panel-content :lazy="true" >
                <div slot="header" @click="getData">
                    <div>
                        <div class="headline">
                            <v-avatar>
                                <img class="img-responsive" :src="this.logo.url" :alt="this.logo.alt">
                            </v-avatar>
                            {{ this.title }}
                        </div>
                        <span class="grey--text">{{ this.subtitle }}</span>
                    </div>
                </div>
                <v-card>
                    <v-card-text>
                        <app-section-loader :status="!loaded"></app-section-loader>
                        <google-bar-chart :chartdata="chartdata" v-if="show" v-show="show">
                        </google-bar-chart>
                    </v-card-text>
                </v-card>
            </v-expansion-panel-content>
        </v-expansion-panel>
        <!--<v-card-title primary-title>-->
            <!--<div>-->
                <!--<div class="headline">-->
                    <!--<v-avatar>-->
                        <!--<img class="img-responsive" :src="this.logo.url" :alt="this.logo.alt">-->
                    <!--</v-avatar>-->
                    <!--{{ this.title }}-->
                <!--</div>-->
                <!--<span class="grey&#45;&#45;text">{{ this.subtitle }}</span>-->
            <!--</div>-->

        <!--</v-card-title>-->
        <!--<v-btn icon @click.native="show = !show">-->
            <!--<v-icon>{{ show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>-->
        <!--</v-btn>-->
        <!--<div class="app-card-content" >-->
            <!--<app-section-loader :status="!loaded"></app-section-loader>-->

            <!--<google-bar-chart :chartdata="chartdata" v-if="show">-->
            <!--</google-bar-chart>-->
        <!--</div>-->
    </div>
</template>

<script>
    import GoogleBarChart from "Components/Charts/GoogleBarChart";
    import axios from 'axios';

    export default {
        props: [
            'url', 'title', 'subtitle', 'logo'
        ],
        components: {
            GoogleBarChart,
        },
        data() {
            return {
                chartdata: {
                    labels: [],
                    datasets: [
                        {
                            label: '',
                            backgroundColor: '#e3e3e3',
                            data: []
                        }
                    ]
                },
                loaded: false,
                show: false
            }
        },
        name: "CustomBarChart",
        // mounted() {
        //     this.getData();
        // },
        methods: {
            getData() {
                axios.get(this.url).then(response => {

                    this.chartdata.labels = response.data.labels;
                    this.chartdata.datasets = response.data.datasets;

                    this.loaded = true;
                    this.show = true;
                })
            },
        }

    }
</script>

<style scoped>

</style>