<
<template>
    <div class="session-wrapper">
        <div class="session-left">
            <session-slider-widget></session-slider-widget>
        </div>
        <div class="session-right text-xs-center">
            <div class="session-table-cell">
                <div class="session-content">
                    <img :src="appLogo" class="img-responsive mb-3" width="78" height="78"/>
                    <h2 class="mb-3">{{$t('message.forgotPassword')}}</h2>
                    <p class="fs-14">{{$t('message.enterYourEmailToSendYouAResetLink')}}.</p>

                    <v-form v-model="valid" ref="form" class="mb-4" lazy-validation>
                        <v-text-field
                                label="Seu email aqui"
                                v-model="email"
                                :rules="emailRules"
                                required
                        ></v-text-field>
                        <div v-if="errors.email" class="v-text-field__details">
                            <div class="v-messages theme--light error--text">
                                <div class="v-messages__wrapper">
                                    <div class="v-messages__message">{{ errors.email[0] }}</div>
                                </div>
                            </div>
                        </div>
                        <v-btn color="primary"
                               block
                               @click="submit"
                               :disabled="!valid"
                        >Enviar
                        </v-btn>

                        <app-section-loader :status="loader"></app-section-loader>
                    </v-form>

                    <div>
                        <router-link to="/session/login">{{$t('message.backToSignIn')}}</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import Nprogress from 'nprogress';
  import SessionSliderWidget from "Components/Widgets/SessionSlider";
  import AppConfig from "Constants/AppConfig";
  import swal from 'sweetalert';

  export default {
    components: {
      SessionSliderWidget
    },
    data() {
      return {
        loader: false,
        email: '',
        valid: true,
        emailRules: [
          v => !!v || "Email é obrigatório",
          v =>
            /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
            "Digite um email válido"
        ],
        appLogo: AppConfig.appLogo2,
        errors: {}
      };
    },
    methods: {
      submit() {
        if (this.$refs.form.validate()) {
          this.sendMail()
        }
      },
      clear() {
        this.$refs.form.reset();
        this.errors = {};
      },
      sendMail() {
        this.loader = true;
        Nprogress.start();

        axios.post("/api/send-forgot-password", {email: this.email})
          .then(response => {
            Nprogress.done();
            this.loader = false;
            this.clear();

            swal("Sucesso!", "Enviamos um email para você!", "success");
          })
          .catch(error => {
            Nprogress.done();
            this.loader = false;
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao Enviar o email!'
            });

            // Para erros da validção do laravel
            if (error.response.status == 422) {
              this.errors = {};
              this.errors = error.response.data.errors;
            }
          });
      }
    }
  };
</script>
