<template>
    <div class="session-wrapper">
        <div class="session-left">
            <session-slider-widget></session-slider-widget>
        </div>
        <div class="session-right text-xs-center">
            <div class="session-table-cell">
                <div class="session-content">
                    <img
                            :src="appLogo"
                            class="img-responsive mb-3"
                            width="78"
                            height="78"
                    />
                    <h2 class="mb-3">{{$t('message.resetPassword')}}</h2>
                    <p class="fs-14">{{$t('message.pleaseEnterYourPasswordToReset')}}.</p>
                    <v-form v-model="valid" class="mb-4" ref="form" lazy-validation>
                        <v-text-field
                                label="Nova Senha"
                                v-model="password"
                                type="password"
                                :rules="passwordRules"
                                required
                        ></v-text-field>
                        <div v-if="errors.password" class="v-text-field__details">
                            <div class="v-messages theme--light error--text text-left">
                                <div class="v-messages__wrapper">
                                    <div class="v-messages__message">{{ errors.password[0] }}</div>
                                </div>
                            </div>
                        </div>
                        <v-text-field
                                label="Repita a senha"
                                v-model="password_confirmation"
                                type="password"
                                :rules="password_confirmationRules"
                                required
                        ></v-text-field>
                        <v-btn large @click="submit" block color="primary">{{$t('message.resetPassword')}}</v-btn>

                        <app-section-loader :status="loader"></app-section-loader>
                    </v-form>
                </div>
                <div>
                    <router-link to="/session/login">{{$t('message.backToSignIn')}}</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import SessionSliderWidget from "Components/Widgets/SessionSlider";
  import AppConfig from "Constants/AppConfig";
  import swal from 'sweetalert';

  export default {
    components: {
      SessionSliderWidget
    },
    data() {
      return {
        loader: false,
        valid: false,
        password: "",
        passwordRules: [
          v => !!v || "Nova senha é obrigatório",
          v => ( v.length >= 8 && v.length <= 255) || "A nova senha deve ter mais de 8 digitos"
        ],
        password_confirmation: "",
        password_confirmationRules: [
          v => !!v || "Não esqueça de repetir a senha!",
          v => ( v.length >= 8 && v.length <= 255) || "A confirmação também deve ter mais de 8 digitos"
        ],
        appLogo: AppConfig.appLogo2,
        errors: {},
        token: this.$route.params.token,
        email: this.$route.params.email
      };
    },
    methods: {
      submit() {
        if (this.$refs.form.validate()) {
          this.resetPassword()
        }
      },
      clear() {
        this.$refs.form.reset();
        this.errors = {};
      },
      resetPassword() {
        this.loader = true;
        const resetObject = {
          email: this.email,
          token: this.token,
          password: this.password,
          password_confirmation: this.password_confirmation,
        }

        axios.post("/api/reset-password", resetObject)
          .then(response => {
            this.loader = false;
            this.clear();

            swal("Sucesso!", "Senha Alterada!", "success")
              .then((value) => {
                this.$router.push("/session/login");
              });
          })
          .catch(error => {
            this.loader = false;
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao Alterar a sua Senha!'
            });

            // Para erros da validção do laravel
            if (error.response.status == 422) {
              this.errors = {};
              this.errors = error.response.data.errors;
            }

            if (error.response.data.message == 'passwords.token') {
              swal("OPS!", "Token Inválido! Procure o link em outro email ou tente novamente.", "warning")
                .then((value) => {
                  this.$router.push("/session/forgot-password");
                });
            }
          });
      }
    }
  }
  ;
</script>
