<template>
    <div>
        <v-container fluid grid-list-xl>
            <page-title-bar></page-title-bar>

            <section-tooltip :title="$t('message.team')" :tooltip="$t('message.teamHelp')"></section-tooltip>

            <app-card
                    :fullBlock=true
                    :heading="$t('message.teamAddNew')"
                    customClasses="mb-50">

                <div class="app-card-content">
                    <v-form v-model="form1.valid" ref="form" lazy-validation>

                        <v-text-field
                                label="Primeiro Nome"
                                v-model="form1.name"
                                :rules="form1.nameRules"
                                :counter="10"
                                required></v-text-field>

                        <v-text-field
                                label="Sobrenome"
                                v-model="form1.nameLast"
                                :counter="30"
                                required></v-text-field>

                        <v-text-field
                                label="E-mail"
                                v-model="form1.email"
                                :rules="form1.emailRules"
                                required></v-text-field>

                        <v-btn @click="submit"
                               :disabled="!form1.valid"
                               color="success"
                        >
                            {{$t("message.submit")}}
                        </v-btn>
                        <v-btn color="primary" :to="'/default/team'">Cancelar</v-btn>

                    </v-form>
                </div>
            </app-card>
        </v-container>

    </div>
</template>

<script>

    import Nprogress from 'nprogress';
    //import { mapGetters } from "vuex";
    import {getCurrentAppLayout} from "Helpers/helpers";
    import AppCardHeading from "../../components/AppCard/AppCardHeading";
    import swal from 'sweetalert';


    export default {

        components: {AppCardHeading},
        data() {

            return {
                errors: {},
                selectCountry: ["United Kingdom"],
                addNewCardDialog: false,
                headers: [
                    {text: "Product", sortable: false, align: "center"},
                    {text: "", sortable: false},
                    {text: "Quantity", sortable: false, align: "center"},
                    {text: "Total", sortable: false, align: "center"}
                ],
                form1: {
                    id: null,
                    valid: false,
                    name: "",
                    nameLast: "",
                    nameRules: [
                        v => !!v || "Nome é Obrigatório",
                        v => (v && v.length <= 10) || "No máximo 10 caractéres permitido"
                    ],
                    email: "",
                    emailRules: [
                        v => !!v || "E-mail é obrigatório",
                        v =>
                            /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                            "E-mail deve ser válido"
                    ]
                },
                userLogged: this.getUserLogged()
            }
        },
        name: "VincularConta",
        conta() {
            return "adicionar Memb"
        },
        methods: {
            submit() {
                console.log("form submit");
                if (this.$refs.form.validate()) {
                    this.createUser()
                }
            },
            clear() {
                this.$refs.form.reset();
                this.errors = {};
            },
            createUser() {

                const user = {
                    name: this.form1.name,
                    last_name: this.form1.nameLast,
                    email: this.form1.email,
                    user_id: this.userLogged.id
                };
                axios.post("/api/deskfull-user-team/store", user)
                    .then(response => {
                        //Nprogress.done();
                        Vue.notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Cadastro realizado com Sucesso!'
                        });

                        swal("Sucesso!", "Cadastro realizado com Sucesso!", "success")
                            .then((value) => {
                                this.$router.push("/default/team");
                            });
                        this.clear();

                    })
                    .catch(error => {
                        //Nprogress.done();
                        Vue.notify({
                            group: 'loggedIn',
                            type: 'error',
                            text: 'Erro ao salvar!'
                        });

                        // Para erros da validção do laravel
                        if (error.response.status == 422) {
                            this.errors = {};
                            this.errors = error.response.data.errors;
                        }
                    });
            },
            getUserLogged() {
                var user = JSON.parse(localStorage.getItem('user'));

                if (user == null) {
                    return null
                }

                return user;
            }
        }
    }
</script>

<style scoped>

</style>