<template>

    <v-container fluid grid-list-xl pt-0>
        <page-title-bar></page-title-bar>
        <section-tooltip :title="$t('message.team')" :tooltip="$t('message.teamHelp')"></section-tooltip>

        <v-layout row wrap>
            <v-flex xs12 sm12 md12>
                <div class="text-right">
                    <v-btn :to="'team-add-user'" color="success">
                        {{$t('message.teamAddNew')}}
                    </v-btn>
                </div>
            </v-flex>
        </v-layout>

        <v-layout row wrap>
            <v-flex xs12>
                <app-card :heading="'Membros da Equipe'" customClasses="mb-90" class="mx-auto img-responsive"
                          v-if="tela">
                    <div class="profile-head app-card mb-30">
                        <v-layout align-center justify-center row fill-height>
                            <div class="user-image text-xs-center mb-3">

                                <v-flex xs12 class=" text-center">
                                    <v-avatar size="200px" v-ripple class="grey lighten-3 mb-3">
                                        <img :src="teamImg" class="img-responsive mb-3 " width="200" height="200"/>
                                    </v-avatar>
                                </v-flex>
                                <v-btn :to="'team-add-user'" color="success">
                                    {{$t('message.teamAddNew')}}
                                </v-btn>
                                <p class="text-md-center justify-space-between">
                                    Aqui você será capaz de cadastrar membros de sua equipe para acessar sua conta.

                                    Membros de sua equipe terão acesso total somente aos clientes que eles forem
                                    vinculados.

                                    Para um membro ter acesso aos relatórios e dashboards ele precisa estar
                                    vinculado a
                                    um
                                    cliente.
                                </p>
                            </div>
                        </v-layout>
                    </div>

                </app-card>
            </v-flex>
        </v-layout>

        <v-layout row wrap>
            <v-flex xs12>
                <app-card v-for="use in listaUserTeam.data" :key="use.id">

                    <v-layout row wrap>
                        <v-flex xs6 sm2>
                            <span class="pt-4 d-block text-danger fw-bold"> {{ use.name}}</span>
                        </v-flex>
                        <v-flex xs6 sm4>
                            <span class=" pt-4 d-block"> {{ use.email}}</span>
                        </v-flex>
                        <v-layout icon-box flex lg1 sm2>
                            <v-flex>
                                <span><i class="ti-reload"></i></span>
                            </v-flex>
                        </v-layout>
                        <v-layout icon-box flex lg1 sm2>
                            <v-flex>
                                <span><i class="ti-link"></i></span>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap icon-box sm2>
                            <v-flex xs12 sm6 md4 lg2>
                                <v-btn color="error" fab small dark>
                                    <v-icon @click="deleteEmail(use)">ti-trash</v-icon>
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-layout>

                    <app-section-loader :status="loader"></app-section-loader>
                </app-card>
            </v-flex>
        </v-layout>
    </v-container>

</template>

<script>
    import Nprogress from 'nprogress';
    import {getCurrentAppLayout} from "Helpers/helpers";
    import {getters} from "../../store/modules/auth/index"
    import {mapGetters} from "vuex";
    import AppCardHeading from "../../components/AppCard/AppCardHeading";
    import swal from 'sweetalert';
    import AppDeskfull from "Constants/AppDeskfull";

    export default {

        components: {AppCardHeading},
        data() {
            return {
                tela: false,
                teamImg: AppDeskfull.team,
                selectCountry: ["United Kingdom"],
                addNewCardDialog: false,
                loader: false,
                selectDeletedMember: null,
                headers: [
                    {text: "Product", sortable: false, align: "center"},
                    {text: "", sortable: false},
                    {text: "Quantity", sortable: false, align: "center"},
                    {text: "Total", sortable: false, align: "center"}
                ],
                form1: {
                    valid: false,
                    name: "",
                    nameLast: "",
                    nameRules: [
                        v => !!v || "Nome é Obrigatório",
                        v => (v && v.length <= 10) || "No máximo 10 caractéres permitido"
                    ],
                    email: "",
                    emailRules: [
                        v => !!v || "E-mail é obrigatório",
                        v =>
                            /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                            "E-mail deve ser válido"
                    ]
                },
                userLogged: this.getUserLogged(),
                listaUserTeam: []
            }
        },
        name: "VincularConta",
        conta() {
            return "adicionar Memb"
        },
        mounted() {
            if (this.listaUserTeam.data == undefined || this.listaUserTeam.data.length === 0) {
                this.tela = false;
            } else {
                this.tela = true;
            }
            this.getListTeam();
        },
        methods: {

            deleteEmail(member) {
                this.selectDeletedMember = member;
                swal({
                    title: "Você tem certeza?",
                    text: "Uma vez deletado, você não poderá recuperar o usuário de sua equipe?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {

                            this.loader = true;
                            let team = this.listaUserTeam.data;
                            let index = team.indexOf(this.selectDeletedMember);
                            this.removerUserTeam(index);
                        }
                    });

            },
            removerUserTeam(index) {

                const user = {
                    name: this.selectDeletedMember.name,
                    last_name: this.selectDeletedMember.nameLast,
                    email: this.selectDeletedMember.email,
                    user_id_member: this.selectDeletedMember.id,
                    user_id: this.userLogged.id
                };

                axios.post("/api/deskfull-user-team/remove-member/", user)
                    .then(response => {

                        swal("Usuário excluído com sucesso!", {
                            icon: "success",
                        });

                        setTimeout(() => {
                            this.loader = false;
                            this.selectDeletedEmail = null;
                            this.listaUserTeam.data.splice(index, 1);
                            //this.snackbar = true;
                            //this.snackbarMessage = "Email Deleted Successfully!";
                        }, 1000);
                    })
                    .catch(error => {

                        Vue.notify({
                            group: 'loggedIn',
                            type: 'error',
                            text: 'Erro ao Remover Membro!'
                        });
                        this.loader = false;

                        // Para erros da validção do laravel
                        if (error.response.status == 422) {
                            this.errors = {};
                            this.errors = error.response.data.errors;
                        }
                    });

            },
            getListTeam() {
                this.loader = true;
                axios.get("/api/deskfull-user-team/list/" + this.userLogged.id)
                    .then(response => {
                        //Nprogress.done();
                        // console.log(response.data);
                        this.listaUserTeam = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        //Nprogress.done();
                        Vue.notify({
                            group: 'loggedIn',
                            type: 'error',
                            text: 'Erro ao listar Grupo!'
                        });
                        this.loader = false;
                        // Para erros da validção do laravel
                        if (error.response.status == 422) {
                            this.errors = {};
                            this.errors = error.response.data.errors;
                        }
                    });
            },
            getUserLogged() {
                var user = JSON.parse(localStorage.getItem('user'));

                if (user == null) {
                    return null
                }

                return user;
            },
        }
    }
</script>

<style scoped>

</style>