<!--https://github.com/cathyhax/image-uploader-->
<script>
  export default {
    name: 'image-input',
    data: () => ({
      errorDialog: null,
      errorText: '',
      uploadFieldName: 'file',
      maxSize: 2000
    }),
    props: {
      // Use "value" here to enable compatibility with v-model
      value: Object,
    },
    methods: {
      launchFilePicker() {
        this.$refs.file.click();
      },
      onFileChange(fieldName, file) {
        console.log(file);
        const {maxSize} = this
        let imageFile = file[0]

        //check if user actually selected a file
        if (file.length > 0) {
          let size = imageFile.size / maxSize / maxSize
          if (!imageFile.type.match('image.*')) {
            // check whether the upload is an image
            this.errorDialog = true
            this.errorText = 'Please choose an image file'
          } else if (size > 1) {
            // check whether the size is greater than the size limit
            this.errorDialog = true
            this.errorText = 'Your file is too big! Please select an image under 1MB'
          } else {
            // Append file into FormData & turn file into image URL
            let formData = new FormData()
            let imageURL = URL.createObjectURL(imageFile)
            formData.append(fieldName, imageFile)
            // Emit FormData & image URL to the parent component
            this.$emit('input', {formData, imageURL})
          }
        }
      }
    }
  }
</script>

<style lang="scss" src="./imageInput.scss"></style>
<template src="./imageInput.html"></template>