<div class="image-input ">
    <!--https://github.com/cathyhax/image-uploader-->
    <!-- slot for parent component to activate the file changer -->
    <div @click="launchFilePicker()" class="click-image">
        <slot name="activator"></slot>
    </div>
    <!-- image input: style is set to hidden and assigned a ref so that it can be triggered -->
    <input type="file"
           ref="file"
           :name="uploadFieldName"
           @change="onFileChange($event.target.name, $event.target.files)"
           style="display:none">
    <!-- error dialog displays any potential errors -->
    <v-dialog v-model="errorDialog" max-width="300">
        <v-card>
            <v-card-text class="subheading">{{errorText}}</v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="errorDialog = false" flat>Got it!</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>