/*=========== Right Sidebar ============*/
.fixed {
  position: fixed;
  &-bottom {
    position: fixed;
    bottom: 0;
    &-right {
      position: fixed;
      bottom: 0;
      right: 0;
    }
  }
}