<template>
    <div>
        <page-title-bar></page-title-bar>
        <v-container fluid grid-list-xl py-0>
            <app-card
                    :heading="'A Senha padrão para o usuário: 123456'"
                    customClasses="mb-30"
            >
                <v-form v-model="user.valid" ref="form" lazy-validation>
                    <v-layout row wrap>
                        <v-flex xs12 sm6>
                            <v-text-field
                                    label="Nome Completo"
                                    v-model="user.name"
                                    :rules="user.nameRules"
                                    :counter="100"
                                    required
                            ></v-text-field>
                            <div v-if="errors.name" class="v-text-field__details">
                                <div class="v-messages theme--light error--text">
                                    <div class="v-messages__wrapper">
                                        <div class="v-messages__message">{{ errors.name[0] }}</div>
                                    </div>
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <v-text-field
                                    label="Email"
                                    v-model="user.email"
                                    :rules="user.emailRules"
                                    required
                            ></v-text-field>
                            <div v-if="errors.email" class="v-text-field__details">
                                <div class="v-messages theme--light error--text">
                                    <div class="v-messages__wrapper">
                                        <div class="v-messages__message">{{ errors.email[0] }}</div>
                                    </div>
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <v-text-field
                                    label="CPF"
                                    v-model="user.cpf"
                                    :rules="user.cpfRules"
                                    required
                            ></v-text-field>
                            <div v-if="errors.cpf" class="v-text-field__details">
                                <div class="v-messages theme--light error--text">
                                    <div class="v-messages__wrapper">
                                        <div class="v-messages__message">{{ errors.cpf[0] }}</div>
                                    </div>
                                </div>
                            </div>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <v-select
                                    label="Tipo de Usuário"
                                    v-model="user.select"
                                    :items="user.types"
                                    :rules="[v => !!v || 'Este campo é obrigatório']"
                                    required
                            ></v-select>
                            <div v-if="errors.types" class="v-text-field__details">
                                <div class="v-messages theme--light error--text">
                                    <div class="v-messages__wrapper">
                                        <div class="v-messages__message">{{ errors.types[0] }}</div>
                                    </div>
                                </div>
                            </div>
                        </v-flex>
                    </v-layout>
                    <v-btn
                            @click="submit"
                            :disabled="!user.valid"
                            color="success"
                    >
                        {{$t("message.submit")}}
                    </v-btn>
                    <v-btn @click="clear" color="default">{{$t("message.clear")}}</v-btn>
                </v-form>
            </app-card>
        </v-container>
    </div>
</template>

<script>
  import Nprogress from 'nprogress';

  export default {
    data() {
      return {
        user: {
          valid: true,
          name: "",
          nameRules: [
            v => !!v || "Nome é obrigatório",
            v => (v && v.length <= 100) || "Nome deve ser menor que 100"
          ],
          email: "",
          emailRules: [
            v => !!v || "Email é obrigatório",
            v =>
              /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
              "Email deve ser válido"
          ],
          cpf: "",
          cpfRules: [
            v => !!v || "CPF é obrigatório",
            v => /^\d+/.test(v) || "CPF deve ser válido"
          ],
          select: null,
          types: ["Admin", "Cliente"],
          checkbox: false
        },
        errors: {}
      };
    },

    mounted() {
      // console.log(this.errors.cpf)
    },

    methods: {
      submit() {
        if (this.$refs.form.validate()) {
          console.log("form submit");
          this.createUser()
        }
      },
      clear() {
        this.$refs.form.reset();
        this.errors = {};
      },
      createUser() {
        Nprogress.start();
        const user = {
          name: this.user.name,
          email: this.user.email,
          cpf: this.user.cpf,
          type: this.user.select
        };
        axios.post("/api/acl/user/store", user)
          .then(response => {
            Nprogress.done();
            Vue.notify({
              group: 'loggedIn',
              type: 'success',
              text: 'Cadastro realizado com Sucesso!'
            });
            this.clear();
          })
          .catch(error => {
            Nprogress.done();
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao salvar!'
            });

            // Para erros da validção do laravel
            if (error.response.status == 422) {
              this.errors = {};
              this.errors = error.response.data.errors;
            }
          });
      },
    }
  };
</script>
