<template>
    <div>
        <page-title-bar></page-title-bar>
        <app-section-loader :status="loader"></app-section-loader>

        <v-container fluid grid-list-xl>
            <v-layout>
                <app-card colClasses="xs12"
                          :heading="''"
                          customClasses="mb-30"
                >
                    <div class="table-responsive">
                        <app-section-loader :status="loader"></app-section-loader>
                        <v-data-table
                                :headers="headers"
                                :items="permissionsList"
                                hide-actions
                        >
                            <template slot="headers" slot-scope="props">
                                <tr>
                                    <th class="text-xs-left fw-bold" v-for="header in props.headers" :key="header.text">
                                        {{ header.text }}
                                    </th>
                                </tr>
                            </template>
                            <template slot="items" slot-scope="props">
                                <td>{{ props.item.id }}</td>
                                <td>
                                    {{ $tAcl('readable_name', props.item.name, true) }}
                                    <v-badge class="primary text-lowercase">shield: {{ props.item.name }}</v-badge>
                                </td>
                            </template>
                        </v-data-table>
                    </div>
                </app-card>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
  import {getCurrentAppLayout} from "Helpers/helpers";
  import Nprogress from 'nprogress';

  export default {
    data() {
      return {
        loader: true,
        headers: [
          {
            text: "#",
            sortable: false,
            value: "#"
          },
          {
            text: "Permissões",
            sortable: false,
            value: "readable_name"
          }
        ],
        permissionsList: [],
        connectUsersList: null,
        links: [
          {
            id: 1,
            title: 'Nova Permission',
            icon: 'ti-lock mr-3 primary--text',
            path: '/users/new',
            is: 'Desenvolvedor'
          },
          {
            id: 3,
            title: 'Listar Permissões',
            icon: 'ti-list mr-3 success--text',
            path: '/users/list',
            is: 'Desenvolvedor'
          }
        ]
      };
    },
    mounted() {
      this.getPermissions();
    },
    methods: {
      getPermissions() {
        Nprogress.start();
        axios.get("/api/acl/permission/index")
          .then(response => {
            Nprogress.done();
            this.loader = false;
            this.permissionsList = response.data.data;
          })
          .catch(error => {
            Nprogress.done();
            this.loader = false;

            this.$store.dispatch("verifyUserAuth", error.response);
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao Listar!'
            });
            console.log(error);
          });
      },
      getMenuLink(path) {
        return '/' + getCurrentAppLayout(this.$router) + path;
      },
    }
  };
</script>
