<template>
    <div>
        <page-title-bar></page-title-bar>
        <app-section-loader :status="loader"></app-section-loader>

        <v-container fluid grid-list-xl>
            <v-layout>
                <app-card colClasses="xs12"
                          :heading="'Lista de Perfis'"
                          customClasses="mb-30"
                >
                    <v-layout align-center justify-end row fill-height>
                        <v-menu
                                bottom
                                offset-y
                                left
                                content-class="userblock-dropdown"
                                nudge-top="-10"
                                nudge-right="0"
                                transition="slide-y-transition"
                                class="align-end"
                        >
                            <v-btn dark icon slot="activator" class="ma-0">
                                <v-icon color="grey">more_vert</v-icon>
                            </v-btn>
                            <div class="dropdown-content">
                                <v-list class="dropdown-list">
                                    <template v-for="link in links"  v-if="shield(link.shield)">
                                        <v-list-tile :to="getMenuLink(link.path)" :key="link.id">
                                            <i :class="link.icon"></i>
                                            <span>{{link.title}}</span>
                                        </v-list-tile>
                                    </template>
                                </v-list>
                            </div>
                        </v-menu>
                    </v-layout>

                    <div class="table-responsive">
                        <app-section-loader :status="loader"></app-section-loader>
                        <v-data-table
                                :headers="headers"
                                :items="rolesList"
                                hide-actions
                        >
                            <template slot="headers" slot-scope="props">
                                <tr>
                                    <th class="text-xs-left fw-bold" v-for="header in props.headers" :key="header.text">
                                        {{ header.text }}
                                    </th>
                                </tr>
                            </template>
                            <template slot="items" slot-scope="props">
                                <td>{{ props.item.id }}</td>
                                <td>
                                    <v-badge class="primary">{{ props.item.name }}</v-badge>
                                </td>
                                <td class="text-xs-center fw-bold">
                                    <v-btn v-if="![1,3].includes(props.item.id) && shield('role.edit')"
                                           :to="getMenuLink('/acl/roles/edit/' + props.item.id)" :key="props.item.id"
                                           flat
                                           icon
                                           color="amber"
                                           @click="onDeleteCartItem(props.item)"
                                    >
                                        <v-icon class="zmdi zmdi-edit"></v-icon>
                                    </v-btn>
                                    <v-btn v-if="![1,2,3].includes(props.item.id) && shield('role.destroy')"
                                           flat
                                           icon
                                           color="error"
                                           @click="onDeleteCartItem(props.item)">
                                        <v-icon class="zmdi zmdi-delete"></v-icon>
                                    </v-btn>
                                </td>
                            </template>
                        </v-data-table>
                    </div>
                </app-card>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
  import {getCurrentAppLayout} from "Helpers/helpers";
  import Nprogress from 'nprogress';

  export default {
    data() {
      return {
        loader: true,
        headers: [
          {
            text: "#",
            sortable: false,
            value: "#"
          },
          {
            text: "Perfil",
            sortable: false,
            value: "name"
          },
          {
            text: "",
            sortable: false,
            value: ""
          }
        ],
        rolesList: [],
        connectUsersList: null,
        links: [
          {
            id: 1,
            title: 'Novo Perfil',
            icon: 'ti-user mr-3 primary--text',
            path: '/acl/roles/new',
            shield: 'role.create'
          }
        ]
      };
    },
    mounted() {
      this.getRoles();
    },
    methods: {
        getRoles() {
        axios.get("/api/acl/role/index")
              .then(response => {
                this.loader = false;
                this.rolesList = response.data.data;
              })
              .catch(error => {
                Nprogress.done();
                Vue.notify({
                  group: 'loggedIn',
                  type: 'error',
                  text: 'Erro ao Listar!'
                });
                console.log(error);
              });
        },
        onDeleteCartItem(){
          console.log('dispara delete cart item');
        },
      getMenuLink(path) {
        return '/' + getCurrentAppLayout(this.$router) + path;
      },
    }
  };
</script>
