<template>
    <div>
        <page-title-bar></page-title-bar>
        <app-section-loader :status="loader"></app-section-loader>

        <v-container fluid grid-list-xl>
            <v-layout>
                <app-card colClasses="xs12"
                          :heading="''"
                          customClasses="mb-30"
                >
                    <v-layout align-center justify-end row fill-height>
                        <v-menu
                                bottom
                                offset-y
                                left
                                content-class="userblock-dropdown"
                                nudge-top="-10"
                                nudge-right="0"
                                transition="slide-y-transition"
                                class="align-end"
                        >
                            <v-btn dark icon slot="activator" class="ma-0">
                                <v-icon color="grey">more_vert</v-icon>
                            </v-btn>
                            <div class="dropdown-content">
                                <v-list class="dropdown-list">
                                    <template v-for="link in links">
                                        <v-list-tile :to="getMenuLink(link.path)" :key="link.id">
                                            <i :class="link.icon"></i>
                                            <span>{{link.title}}</span>
                                        </v-list-tile>
                                    </template>
                                </v-list>
                            </div>
                        </v-menu>
                    </v-layout>

                    <v-form v-model="role.valid" ref="form" lazy-validation>
                        <v-layout row wrap>
                            <v-flex xs12 sm12>
                                <v-text-field
                                        label="Nome do Perfil"
                                        v-model="role.name"
                                        :rules="role.nameRules"
                                        :counter="100"
                                        required
                                ></v-text-field>
                                <div v-if="errors.name" class="v-text-field__details">
                                    <div class="v-messages theme--light error--text">
                                        <div class="v-messages__wrapper">
                                            <div class="v-messages__message">{{ errors.name[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-form>
                </app-card>

            </v-layout>

            <v-alert v-if="errors.permissions_id"
                     v-model="alert"
                     dismissible
                     color="warning"
                     icon="priority_high"
                     outline
            >
                {{ errors.permissions_id[0] }}
            </v-alert>

            <v-layout row wrap>
                <app-card
                        colClasses="md3 sm4 xs12"
                        :heading="$tAcl('readable_name', formatValue(indexGroup, 'title'), true)"
                        customClasses="device-share-widget"
                        v-for="(permissionGroup, indexGroup) in permissionsList"
                        :key="permissionGroup.name"
                >

                    <v-layout row wrap v-for="(permission, index) in permissionGroup" :key="index">
                        <v-tooltip top>
                            <v-checkbox v-model="permissions"
                                        :label="$tAcl('readable_name', formatValue(indexGroup, permission.class), true)"
                                        :value="index"
                                        :key="index"
                                        slot="activator">
                                >
                            </v-checkbox>
                            <span>{{ is('Desenvolvedor') ? formatValue(indexGroup, permission.class) : 'Permissão' }}</span>
                        </v-tooltip>
                        <!--{{ permission.class }}-->
                    </v-layout>
                </app-card>
            </v-layout>

            <v-layout row wrap class="fixed-bottom-right mr-4 mb-2">
                <v-flex xs6>
                    <v-btn @click="submit" :disabled="!role.valid" color="success">
                        {{$t("message.submit")}}
                    </v-btn>
                </v-flex>
                <v-flex xs6>
                    <v-btn @click="clear" color="default">{{$t("message.clear")}}</v-btn>
                </v-flex>
            </v-layout>
        </v-container>

    </div>
</template>

<script>
  import Nprogress from 'nprogress';
  import {getCurrentAppLayout} from "Helpers/helpers";

  export default {
    data() {
      return {
        loader: true,
        alert: true,
        role: {
          valid: true,
          name: "",
          nameRules: [
            v => !!v || "Nome é obrigatório",
            v => (v && v.length <= 100) || "Nome deve ser menor que 100"
          ]
        },
        permissions: [],
        errors: {},
        links: [
          {
            id: 3,
            title: 'Listar Perfis',
            icon: 'ti-list mr-3 success--text',
            path: '/acl/roles/list',
            shield: 'role.index'
          }
        ],
        permissionsList: [],
      };
    },

    mounted() {
      this.getRole(this.$route.params.roleId);
    },

    methods: {
      submit() {
        if (this.$refs.form.validate()) {
          console.log("form submit");
          this.updateRole(this.$route.params.roleId)
        }
      },

      clear() {
        this.$refs.form.reset();
        this.errors = {};
        this.permissions = [];
      },

      formatValue(index, value) {
        return index + '.' + value;
      },

      getRole(roleId) {
        this.loader = true;
        axios.get("/api/acl/role/edit/" + roleId)
          .then(response => {
            this.loader = false;
            let result = response.data.data,
              role = result.role;

            this.permissionsList = result.permissions;
            this.permissions = result.selectedPermissions.map(String) // seta os checkboxes selecionados

            this.role.name = role.name
          })
          .catch(error => {
            this.loader = false;
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao Buscar Usuário!'
            });
          });
      },

      updateRole(roleId) {
        const role = {
          name: this.role.name,
          permissions_id: this.permissions
        };
        axios.put("/api/acl/role/update/" + roleId, role)
          .then(response => {
            Nprogress.done();
            Vue.notify({
              group: 'loggedIn',
              type: 'success',
              text: 'Atualizado com Sucesso!'
            });

            this.clear();
            this.$router.push('/default/acl/roles/list')
          })
          .catch(error => {
            Nprogress.done();
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao Atualizar!'
            });

            // Para erros da validção do laravel
            if (error.response.status == 422) {
              this.alert = true
              this.errors = {};
              this.errors = error.response.data.errors;
            }
          });
      },

      getMenuLink(path) {
        return '/' + getCurrentAppLayout(this.$router) + path;
      },
    }
  };
</script>
