<template>
    <app-card :heading="this.account.name" customClasses="mb-30" >
        <v-chip color="error" text-color="white">
            <v-avatar>
                <v-icon>ti-google</v-icon>
            </v-avatar>
            {{ this.account.socialnetwork}}
        </v-chip>
        <v-layout row wrap>
            <v-flex xs6 sm4>
                <span class="small pt-4 d-block"> {{ this.account.email }}</span>
            </v-flex>
            <v-flex xs6 sm4>
                <span class="small pt-4 d-block"> {{ this.account.refresh_token }}</span>
            </v-flex>
            <v-layout row wrap icon-box>
                <v-flex xs12 sm6 md4 lg2>
                    <v-btn color="error" fab small dark v-on:click="$emit('deleteAccount', id)">
                        <v-icon>ti-trash</v-icon>
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-layout>
    </app-card>
</template>

<script>
    import AppCardHeading from "./AppCardHeading";
    export default {
        name: "AccountCard",
        components: {AppCardHeading},
        props: [ 'account', 'id'],
        data() {
            return {
            }
        },

    }
</script>

<style scoped>

</style>