<template>
    <div class="app-card">
        <v-card-title primary-title>
            <div>
                <div class="headline">{{ this.title }}</div>
            </div>
        </v-card-title>
        <div class="app-card-content" >
            <v-data-table
                    v-if="showTable"
                    :headers="data.headers"
                    :items="data.data"
                    hide-actions
                    class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td v-for="item in props.item">{{ item }}</td>
                </template>
            </v-data-table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        props: [ 'title', 'url'],
        data(){
            return {
                data: {},
                showTable: false,
            }
        },
        methods: {
            getData() {
                axios.get(this.url).then(response => {
                    this.data = response.data;
                    this.showTable = true;
                })
            }
        },
        mounted() {
            this.getData();
        },
        name: "CustomTable"
    }
</script>

<style scoped>

</style>