<template>

    <v-container fluid>
        <page-title-bar></page-title-bar>
        <section-tooltip :title="$t('message.deskfullClients')"
                         :tooltip="$t('message.deskfullClients')"></section-tooltip>
        <!-- <app-card
                 :heading="$t('message.deskfullClients')"
                 :fullBlock=true
                 customClasses="mb-30">

             <v-btn :to="'/default/deskfull-client'" color="primary">
                 {{$t('message.deskfull.client.listClient')}}
             </v-btn>

         </app-card>-->

        <v-spacer/>
        <app-card colClasses="xs12 md12" :heading="$t('message.deskfull.client.addClient')">
            <v-container fluid>
                <v-layout row justify-space-between wrap>
                    <v-flex xs4>

                        <!--<v-img src="/static/img/blog-6.jpg" height="240px"></v-img>-->
                        <!-- Begin To add Image-->
                        <image-input v-model="avatar">
                            <div slot="activator">
                                <v-avatar size="120px" v-ripple v-if="!avatar" class="grey lighten-3 mb-3">
                                    <span v-if="hasImageProfile == false">Clique para Adcionar uam Logo</span>
                                    <img v-if="hasImageProfile == true" :src="this.imageProfile" alt="avatar">
                                </v-avatar>
                                <v-avatar size="150px" v-ripple v-else class="mb-3">
                                    <img :src="avatar.imageURL" alt="avatar">
                                </v-avatar>
                            </div>
                        </image-input>
                        <v-slide-x-transition>
                            <div v-if="avatar && saved == false">
                                <v-btn class="primary" @click="uploadImage" :loading="saving">Clique para Salvar</v-btn>
                            </div>
                        </v-slide-x-transition>
                        <!-- End To add Image-->
                    </v-flex>

                    <v-flex xs7>
                        <v-form v-model="form1.valid" ref="form" lazy-validation>

                            <v-text-field
                                    label="Nome"
                                    id="name"
                                    :counter="50"
                                    v-model="form1.name"
                                    :rules="form1.nameRules"
                                    required
                            ></v-text-field>
                            <v-text-field
                                    label="E-mail"
                                    id="email"
                                    v-model="form1.email"
                                    :rules="form1.emailRules"
                                    required
                            ></v-text-field>
                            <v-text-field
                                    label="Website"
                                    v-model="form1.site"
                                    :rules="form1.sitesRules"
                                    id="site"
                                    required
                            ></v-text-field>
                            <label class="typo__label">Contas associadas</label>
                            <multiselect v-model="acountsSelect" tag-placeholder="Digite o nome da conta."
                                         placeholder="Digite o nome da conta." label="descriptiveName"
                                         select-label="Enter e selecione uma Conta"
                                         track-by="id" :options="acounts"
                                         required
                                         :rules="form1.selectAcountsRules"
                                         @close="onTouch"
                                         :multiple="true" :taggable="false">
                                <span slot="noResult">Ops! nenhuma conta com esse nome cadastrado.</span>

                            </multiselect>
                            <div class="v-messages theme--light error--text">
                                <div class="v-messages__wrapper">
                                    <div class="v-messages__message" v-show="isInvalid">Campo obrigatório, selecione uma
                                        Conta
                                    </div>

                                </div>
                            </div>

                            <v-spacer></v-spacer>
                            <label class="typo__label">Equipe</label>

                            <multiselect v-model="userTeamsSelect" tag-placeholder="Digite nome do usuáiro da Equipe."
                                         desa
                                         placeholder="Digite nome do usuáiro da Equipe." label="name"
                                         track-by="id" :options="userTeams"
                                         required
                                         :multiple="true" :taggable="false">
                                <span slot="noResult">Ops! nenhum membro da equipe com esse nome cadastrado.</span>

                            </multiselect>
                            <v-spacer></v-spacer>
                            <v-spacer></v-spacer>
                            <v-btn @click="submit"
                                   :disabled="!form1.valid"
                                   color="success"
                            >
                                {{$t("message.submit")}}
                            </v-btn>
                            <v-btn color="primary" :to="'/default/deskfull-client'">Cancelar</v-btn>
                        </v-form>
                    </v-flex>
                </v-layout>
            </v-container>
        </app-card>
        <app-section-loader :status="loader"></app-section-loader>

    </v-container>
</template>

<script>
  import {getCurrentAppLayout} from "Helpers/helpers";
  import AccountCard from "Components/AppCard/AccountCard";
  import axios from 'axios';
  import Multiselect from 'vue-multiselect'
  import swal from 'sweetalert';
  import ImageInput from "Components/ImageInput/ImageInput";

  export default {
    components: {
      AccountCard,
      Multiselect,
      ImageInput
    },
    data() {
      return {
        isTouched: false,
        acountsSelect: [],
        acounts: [],
        userTeamsSelect: [],
        userTeams: [],
        form1: {
          id: null,
          valid: false,
          name: "",
          email: "",
          site: "",
          sitesRules: [
            v => !!v || "Site é obrigatório",
          ],
          selectAcountsRules: [
            v => v.length > 0 || "Campo obritatório",
          ],
          nameRules: [
            v => !!v || "Nome é Obrigatório",
            v => (v && v.length <= 50) || "No máximo 50 caractéres permitido"
          ],
          emailRules: [
            v => !!v || "E-mail é obrigatório",
            v =>
              /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
              "E-mail deve ser válido"
          ]
        },
        addNewAccountDialog: false,
        showAccounts: false,
        selectDeletedAccount: null,
        loader: true,
        headers: [
          {text: "Nome", sortable: false},
          {text: "E-mail", sortable: false},
          {text: "Refresh Token", sortable: false},
          {text: "Remover conta", sortable: false}
        ],
        accounts: [],
        userLogged: this.getUserLogged(),
        avatar: null,
        saving: false,
        saved: false,
        imageProfile: '',
        hasImageProfile: false
      }
    },
    watch: {
      // avatar: {
      //   handler: function () {
      //     this.saved = false
      //   },
      //   deep: true
      // }
    },
    computed: {
      isInvalid() {
        return this.isTouched && this.acountsSelect.length === 0
      }
    },

    mounted() {

      this.getCustomers();
      this.getUserTeam();
      if (!(this.$route.params.clientId == undefined || this.$route.params.clientId == null)) {

        this.findClient(this.$route.params.clientId);
      }

      this.getImage()
    },

    methods: {
      // Upload
      uploadImage() {
        this.saving = true
        setTimeout(() => this.savedAvatar(), 1000)
      },
      savedAvatar() {
        let settings = {
          headers: {
            'Content-Type': 'multipart/form-data',
            'Content-Type': 'application/x-www-form-urlencoded',
            'Accept': 'text/plain'
          }
        };
        axios.post('/api/acl/user/upload', this.avatar.formData, settings)
          .then(response => {
            console.log('Horecio');
            console.log(response)
            this.$store.dispatch("setUrlProfileImage", {urlImage: response.data.file.path_file});
          })
          .catch(error => {
            this.loader = false;
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao Enviar Image! Tente mais tarde.'
            });
            console.log(error)
          });

        this.saving = false
        this.saved = true
      },

      getImage() {
        let settings = {
          headers: {
            'Content-type': 'image/jpeg'
          }
        }
        axios.get('/api/acl/user/profileImageUrl', settings)
          .then(response => {
            if (response.data.success == true) {
              this.hasImageProfile = true

              this.imageProfile = response.data.profileImageUrl
            }
          })
          .catch(error => {
            console.log(error)
          });
      },

      submit() {
        if (this.$refs.form.validate()) {
          if (this.acountsSelect.length > 0) {

            this.salvarClient()
          } else {
            this.isTouched = true;
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Precisa selecionar uma Conta!'
            });
          }
        }
      },

      googleOauth() {
        window.location = "/api/oauth2";
      },

      clear() {
        this.isTouched = false;
        this.$refs.form.reset();
        this.errors = {};
        this.acountsSelect = [];
        this.acounts = [];
        this.userTeamsSelect = [];
      },

      salvarClient() {
        const deskfullClient = {

          user_id: this.userLogged.id,
          nome: this.form1.name,
          email: this.form1.email,
          site: this.form1.site,
          customers: this.acountsSelect,
          userTeams: this.userTeamsSelect,
        }

        if (this.form1.id > 0) {
          deskfullClient.id = this.form1.id;
        }

        axios.post("/api/deskfull-clients/client-add/", deskfullClient)
          .then(response => {

            console.log(response.data);
            var mensagem = '';
            if (this.form1.id != null) {
              mensagem = 'Registro Atualizado com Sucesso!';
            } else {
              mensagem = 'Cadastro realizado com Sucesso!';
              this.clear();
            }

            Vue.notify({
              group: 'loggedIn',
              type: 'success',
              text: mensagem
            });
            swal("Sucesso!", mensagem, "success").then((value) => {
              this.$router.push("/default/deskfull-client");
            });

          })
          .catch(error => {
            //Nprogress.done();
            Vue.notify({
              group: 'loggedIn',
              type: 'error',
              text: 'Erro ao salvar!'
            });

            // Para erros da validção do laravel
            if (error.response.status == 422) {
              this.errors = {};
              this.errors = error.response.data.errors;
            }
          });
      },

      findClient(clientId) {
        this.loader = false;

        axios.get('/api/deskfull-clients/client/' + clientId)
          .then((response) => {

            this.setClient(response.data.data);

          }).catch(error => console.log(error));

      },

      setClient(client) {

        this.form1.id = client.id;
        this.form1.name = client.nome;
        this.form1.email = client.email;
        this.form1.site = client.site;
        //this.acountsSelect,

        for (const customer of client.customers) {

          for (const ac of this.acounts) {

            if (customer.id == ac.id) {
              this.acountsSelect.push(ac);
            }
          }
        }
        for (const team of client.user_teams) {

          for (const t of this.userTeams) {

            if (team.user_id_member == t.id) {
              this.userTeamsSelect.push(t);
            }
          }
        }
      },

      getCustomers() {

        this.loader = false;
        axios.get('/api/customers/')
          .then((response) => {
            this.acounts = response.data;
            //console.log(response.data);
          }).catch(error => console.log(error));
        //}
      },

      getUserTeam() {
        this.userLogged = this.getUserLogged();

        axios.get('/api/deskfull-clients/client-user-team/' + this.userLogged.id)
          .then((response) => {
            this.userTeams = response.data;

          }).catch(error => console.log(error));
      },
      getUserLogged() {
        var user = JSON.parse(localStorage.getItem('user'));

        if (user == null) {
          return null
        }

        return user;
      },
      onTouch() {
        this.isTouched = true
      }
    }
  }
</script>


<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
