<template>

    <v-container fluid grid-list-xl pt-0>
        <page-title-bar></page-title-bar>
        <section-tooltip :title="$t('message.deskfullClients')"
                         :tooltip="$t('message.deskfullClients')"></section-tooltip>

        <v-layout row wrap>
            <v-flex xs12 sm12 md12>
                <div class="text-right">
                    <v-btn :to="'deskfull-client-add'" color="success">
                        {{$t('message.addNewDeskFullClient')}}
                    </v-btn>
                </div>
            </v-flex>
        </v-layout>

        <v-layout align-center justify-center row fill-height v-if="tela">
            <v-flex xs12>
                <app-card :heading="'Controle de Clientes'" customClasses="mb-90">

                    <div class="user-image text-xs-center mb-3">
                        <v-flex xs12 class=" text-center">
                            <v-avatar size="200px" v-ripple class="grey lighten-3 mb-3">
                                <img :src="clientImg" class="img-responsive mb-3 " width="180" height="180"/>
                            </v-avatar>
                        </v-flex>
                        <v-btn :to="'deskfull-client-add'" color="success">
                            {{$t('message.addNewDeskFullClient')}}
                        </v-btn>
                        <p class="justify-space-between">
                            Controle todas a contas cadastrada de cada cliente.

                            Vincule os membros de sua equipe para determinados clientes para que eles possam visualizar
                            os Relatórios das Contas Cadastradas
                        </p>
                    </div>
                </app-card>
            </v-flex>
        </v-layout>

        <app-card :heading="'Cliente: '+client.nome" customClasses="mb-30" v-for="client in listaClient"
                  :key="client.id">


            <v-layout row wrap v-bind:class="[client.deleted_at ? 'gradient-warning' : '']">
                <v-flex xs6 sm2>
                    <v-img src="/static/img/blog-6.jpg" height="30px"></v-img>
                </v-flex>
                <v-flex xs6 sm4>
                    <span class="pt-4 d-block text-danger fw-bold "> {{ client.nome}}</span>
                </v-flex>
                <v-flex xs6 sm3>
                    <span class=" pt-4 d-block"> {{ client.email}}</span>
                </v-flex>
                <v-layout class="text-xs-center team-avatar">

                    <ul class="list-inline" v-for="userTeam in client.user_teams" :key="userTeam.id">
                        <li>
                            <div><img src="/static/avatars/user-7.jpg" :title="userTeam.name"
                                      class="img-responsive" alt="user images" width="24" height="24"></div>
                        </li>
                    </ul>
                </v-layout>
                <v-layout icon-box flex lg1 sm2>
                    <v-flex>
                        <router-link :to="'deskfull-client-add/'+client.id">
                            <span><v-icon class="zmdi zmdi-edit"></v-icon></span>
                        </router-link>
                    </v-flex>
                </v-layout>
                <v-layout icon-box flex lg1 sm2>
                    <v-flex xs12 sm6 md4 lg2>
                        <v-btn color="error" fab small dark>
                            <v-icon @click="onDeleteClient(client)">ti-trash</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-layout>

            <app-section-loader :status="loader"></app-section-loader>
        </app-card>
    </v-container>
</template>

<script>

    import {getCurrentAppLayout} from "Helpers/helpers";
    import AccountCard from "Components/AppCard/AccountCard";
    import axios from 'axios';
    import Multiselect from 'vue-multiselect'
    import swal from 'sweetalert';
    import AppDeskfull from "Constants/AppDeskfull";

    export default {
        components: {AccountCard, Multiselect},
        data() {
            return {
                tela: true,
                clientImg: AppDeskfull.client,
                selectDeletedClient:
                    null,
                listaClient:
                    [],
                loader:
                    false,
                userLogged:
                    this.getUserLogged()
            }
        },
        methods: {

            /**
             * delete product
             */
            onDeleteClient(client) {

                this.selectDeletedClient = client;
                swal({
                    title: "Você tem certeza?",
                    text: "Uma vez deletado, você não poderá recuperar o Cliente?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            this.loader = true;
                            let client = this.listaClient;
                            setTimeout(() => {
                                let index = client.indexOf(this.selectDeletedClient);

                                this.onRemoveClient(index);
                            }, 400);
                        }
                    });

            },
            getListClient() {
                this.userLogged = this.getUserLogged();

                axios.get('/api/deskfull-clients/client-list/' + this.userLogged.id)
                    .then((response) => {
                        this.listaClient = response.data;
                        console.log(response.data);

                    }).catch(error => console.log(error));
            },
            onRemoveClient(index) {

                const client = {
                    id: this.selectDeletedClient.id
                }

                axios.post('/api/deskfull-clients/client-remove/', client)
                    .then((response) => {

                        if (response.data == 1)
                            this.listaClient.splice(index, 1);


                        swal("Cliente excluído com sucesso!", {
                            icon: "success",
                        });

                        Vue.notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Registro deletado com Sucesso!'
                        });

                    }).catch(error => console.log(error));
                this.loader = false;
            },
            getUserLogged() {
                var user = JSON.parse(localStorage.getItem('user'));

                if (user == null) {
                    return null
                }

                return user;
            }

        },

        mounted() {
            if (this.listaClient.length === 0) {
                this.tela = false;
            } else {
                this.tela = true;
            }
            this.getListClient();
            // this.getCustomers();
        },

        name: "VincularConta"
    }
</script>


<style scoped>


</style>

