<template>
    <v-list-tile class="sidebar-profile">
        <v-list-tile-avatar>
            <img :src="getUrlImageProfile" :alt="userLogged.name" height="40" width="40" class="img-responsive"/>
        </v-list-tile-avatar>
        <v-list-tile-content class="ml-3">
            <v-list-tile-title><span>{{ userLogged.name | truncate(12, '...') }}</span></v-list-tile-title>
        </v-list-tile-content>
        <v-menu
                bottom
                offset-y
                left
                content-class="userblock-dropdown"
                nudge-top="-10"
                nudge-right="0"
                transition="slide-y-transition"
        >
            <v-btn dark icon slot="activator" class="ma-0 colo">
                <v-icon>more_vert</v-icon>
            </v-btn>
            <div class="dropdown-content">
                <div class="dropdown-top white--text primary">
                    <span class="white--text fs-14 fw-bold d-block">{{ userLogged.name }}</span>
                    <span class="d-block fs-12 fw-light">{{ userLogged.email }}</span>
                </div>
                <v-list class="dropdown-list">
                    <template v-for="userLink in userLinks" v-if="userLink.id !== 5 && shield(userLink.shield)">
                        <v-list-tile :to="getMenuLink(userLink.path)" :key="userLink.id">
                            <i :class="userLink.icon"></i>
                            <span>{{ userLink.title }}</span>
                        </v-list-tile>
                    </template>
                    <template v-else>
                        <v-list-tile @click="logoutUser" :key="userLink.id" v-if="shield(userLink.shield)">
                            <i :class="userLink.icon"></i>
                            <span>{{ userLink.title }}</span>
                        </v-list-tile>
                    </template>
                </v-list>
            </div>
        </v-menu>
    </v-list-tile>
</template>

<script>
  import {getCurrentAppLayout} from "Helpers/helpers";
  import {mapGetters} from "vuex";

  export default {
    data() {
      return {
        userLinks: [
          {
            id: 1,
            title: 'Perfil',
            icon: 'ti-user mr-3 primary--text',
            path: '/users/user-profile'
          },
          /*{
            id: 2,
            title: 'Alterar Senha',
            icon: 'zmdi zmdi-shield-check mr-3 primary--text',
            path: '/users/password'
          },*/
          {
            id: 3,
            title: 'Novo Usuário',
            icon: 'ti-user mr-3 primary--text',
            path: '/users/new',
            shield: 'user.create'
          },
          {
            id: 4,
            title: 'Lista de Usuários',
            icon: 'ti-bell mr-3 success--text',
            path: '/users/list',
            shield: 'user.index'
          },
          {
            id: 5,
            title: 'Sair',
            icon: 'ti-power-off mr-3 error--text'
          }
        ],
        userLogged: {
          name: ''
        },
        hasImageProfile: false,
        imageProfile: '',
      }
    },

    computed:{
      ...mapGetters(['getUrlImageProfile'])
    },

    mounted() {
      this.getUserLogged()
      this.getImage()
    },

    methods: {
      urlImage() {
        return this.$store.state.user.imageUrl;
      },
      logoutUser() {
        this.$store.dispatch("logoutUser", this.$router);
      },

      getMenuLink(path) {
        return '/' + getCurrentAppLayout(this.$router) + path;
      },

      getUserLogged() {
        if (localStorage.getItem('user') == null) {
          this.$router.push("/session/login");

          return this.userLogged;
        }

        this.userLogged = JSON.parse(localStorage.getItem('user'));
      },

      getImage() {
        let settings = {
          headers: {
            'Content-type': 'image/jpeg'
          }
        }
        axios.get('/api/acl/user/profileImageUrl', settings)
          .then(response => {
            if (response.data.success == true) {
              this.hasImageProfile = true

              this.imageProfile = response.data.profileImageUrl
            }
          })
          .catch(error => {
            console.log(error)
          });
      }
    }
  };
</script>
